<% content_for :head do %>
  <title><%= @event.name %> Table Assignments</title>
<% end %>

<p id="notice"><%= notice %></p>
<div class="hidden-print">
  <h1><%= @event.name %></h1>
  <h2><%= @event.location %></h2>
  <h2><%= @event.start.to_formatted_s(:long) %> to <%= @event.end.to_formatted_s(:long) %></h2>
</div>
<!-- for now, first pass, list all the GMs -->
<h3 class="hidden-print">Table Schedule</h3>

<% @tables.each_slice(3) do |slice| %>
  <div class="row pageinate">
    <% slice.each do |table_number| %>
      <div class="col-sm-4" style="padding:2px">
        <div>
          <b><%= table_number %></b>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Session</th>
            <th>Game Master</th>
            <th>Scenario</th>
          </tr>
          </thead>
          <tbody>
          <% @tableSessionMap[table_number].keys.sort {|a, b| a.start <=> b.start}.each do |session| %>
            <tr>
              <td><%= session.name %></td>
              <td><%= @tableSessionMap[table_number][session].user_event.user.formal_name %></td>
              <td><%= @tableSessionMap[table_number][session].table.scenario.long_name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>


