<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<h2><%= @event.location %></h2>
<h2><%= @event.start.to_formatted_s(:long) %> to <%= @event.end.to_formatted_s(:long) %></h2>

<!-- for now, first pass, list all the GMs -->
<h3>All Table Assignments, By Session:</h3>


<% @event.sessions.each do |session| %>
    <h4 class="bg-primary">Session: <%= session.long_name %></h4>
    <div class="row">
      <% session.tables.sort { |a, b| a <=> b }.each_with_index do |table, index| %>
          <% if index % 4 == 0 %>
              </div>
              <div class="row">
          <% end %>
          <div class="col-md-3">
            <h5 class="bg-success"><%= table.long_name %></h5>

            <ul class="list-group">
              <li class="list-group-item  list-group-item-info">Players</li>
              <% table.registration_tables.sort { |a, b| a <=> b }.each do |rsvp| %>
                  <li class="list-group-item"><%= rsvp.user_event.user.name %></li>
              <% end %>
            </ul>
            <ul class="list-group">
              <li class="list-group-item  list-group-item-info">GMs</li>
              <% table.game_masters.sort { |a, b| a <=> b }.each do |gm| %>
                  <li class="list-group-item"><%= gm.user_event.user.name %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      </div>
<% end %>
