<%= form_for([@event, @session]) do |f| %>
    <% if @session.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

          <ul>
            <% @session.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "Session Name" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :start, "Start Time" %><br>
      <%= f.datetime_select :start, :default => {:year => @event.start.year, :month => @event.start.month, :hour => 8, :minute => 00} %>
    </div>
    <div class="field">
      <%= f.label :end, "End Time" %><br>
      <%= f.datetime_select :end, default: @event.end %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>
