<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Sessions for <%= @event.name %></h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sessions.sort {|a, b| a.start <=> b.start}.each do |session| %>
    <tr>
      <td><%= session.name %></td>
      <td><%= session.formatted_start %></td>
      <td><%= session.formatted_end %></td>
      <td><%= link_to 'Show', [@event, session], :class => 'btn btn-info' %>
        <% if event_host? %>
          <%= link_to 'Edit', edit_event_session_path(@event, session), :class => 'btn btn-primary' %>
          <%= link_to 'Delete', [@event, session], method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
<br>

<%= link_to "Back to #{@event.name}", event_path(@event), :class => 'btn btn-success' %>
<% if event_host? %>
  <%= link_to 'New Session', new_event_session_path(@event, @session), :class => 'btn btn-warning' %>
<% end %>
