<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Muster List for <%= @event.name %></h1>
</div>

<% muster_sheet = @event.muster_sheet %>

<% muster_sheet.keys.sort { |a, b| a.start <=> b.start }.each do |session| %>
  <table class="table table-striped">
    <caption>Session <%= session.long_name %></caption>
    <thead>
    <tr>
      <th>Table #</th>
      <th>Scenario</th>
      <th>Tier</th>
      <th>GM</th>
    </tr>
    </thead>
    <tbody>
    <% muster_sheet[session].keys.sort.each do |location| %>
      <% table = muster_sheet[session][location] %>
      <tr>
        <td><%= table['table_number'] %></td>
        <td><%= table['scenario'] %></td>
        <td><%= table['tier'] %></td>
        <td><%= table['gm'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to "Back to #{@event.name}", event_path(@event), :class => 'btn btn-success' %>
