<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @session.event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @session.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @session.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @session.end %>
</p>

<%= link_to 'Edit', edit_event_session_path(@event,session) %> |
<%= link_to 'Back', event_sessions_path %>
