<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<h2><%= @session.name %>
  <small><%= @session.timeslot %></small>
</h2>

<h3>Scheduled Tables</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Scenario</th>
    <th>Players</th>
    <th>Game Masters</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @session.tables.each do |table| %>
      <tr>
        <!-- TODO - add link to scenario -->
        <td><%= table.scenario.name %></td>
        <td>
          <%= link_to "#{@player_sessions.size} / #{table.max_players}", event_session_table_registration_tables_path(@event, @session, table) %>

        </td>
        <td><%= link_to "#{@gm_sessions.size} / #{table.gms_needed}", event_session_table_game_masters_path(@event, @session, table) %> </td>
        <td><%= button_to 'Show', [@event, @session, table], method: :get, :class => 'formButton' %></td>
        <% if admin? %>
            <td><%= button_to 'Edit', edit_event_session_table_path(@event, @session, table), method: :get, :class => 'formButton' %></td>
            <td><%= button_to 'Remove', [@event, @session, table], method: :delete, data: {confirm: 'Are you sure?'}, :class => 'formButton' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>


  <% if admin? %>
      <div class="inline"><%= button_to 'Add New Table', new_event_session_table_path(@event, @session), method: :get, :class => 'mainButton' %></div>
      <div class="inline"><%= button_to 'Edit', edit_event_session_path(@event, @session), method: :get, :class => 'mainButton' %></div>
  <% end %>
  <div><%= button_to "Back to #{@event.name}", event_path(@event), method: :get, :class => 'mainButton' %></div>
