<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li><%= link_to "#{@event.name}", event_path(@event) %></li>
  <li><%= @session.long_name %></li>
</ol>

<h1><%= @event.name %></h1>
<h2><%= @session.name %>
  <small><%= @session.timeslot %></small>
</h2>


<h3><%= link_to 'Scheduled Tables', event_session_tables_path(@event, @session), :class => 'h3' %></h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Location</th>
    <th>Online?</th>
    <th>Scenario</th>
    <th></th>
    <th width="1%">Players</th>
    <th colspan="2">GMs</th>
  </tr>
  </thead>

  <tbody>

  <% tables = @session.tables %>
  <% tables = tables.sort_by { |table| [table.scenario] } %>
  <% tables.each do |table| %>
    <tr>
      <td>
        <%= table.location %>
        <% unless table.gm_table_assignments.blank? %>
          (<%= table.gm_table_assignments %>)
        <% end %>
      </td>
      <td>
        <%= yes_no table.online? %>
      </td>
      <td>
        <%# make this show the scenario data as a collapsable %>
        <%= table.scenario.long_name %>
        <%= render 'events/table_badges', table: table %>
      </td>
      <td>
        <% scenario = table.scenario %>
        <button data-toggle="modal" data-target="#scenario_<%= scenario.id %>" class="btn btn-info">Scenario
          Details
        </button>
        <div id="scenario_<%= scenario.id %>" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-header"><%= scenario.long_name %></h4>
              </div>
              <div class="modal-body">
                <% unless scenario.catalog_number.nil? %>
                  <div><b>Catalog Number: </b> <%= scenario.catalog_number %></div>
                <% end %>
                <div><b>Type:</b>  <%= scenario.type_of %></div>
                <hr>
                <div style="white-space: pre-wrap;"><%= scenario.description %></div>
                <div><strong>Written by:</strong> <%= scenario.author %></div>
                <div>
                  <% unless table.scenario.paizo_url.blank? %>
                    <a href="<%= scenario.paizo_url %>" target="_blank">Click to see on Paizo's site</a>.
                  <% end %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% if table.sign_in_url.present? %>
          <% if table.gms_needed.size == 1 %>
            <a class="ul" target="_blank" href="<%= gm&.sign_in_url %>">Sign-In Sheet</a>
          <% end %>
        <% end %>
      </td>
      <% if event_host? %>
        <td>
          <%= link_to "#{@player_sessions[table].size} / #{table.max_players}", event_session_table_registration_tables_path(@event, @session, table) %>
        </td>
        <td>
          <%= link_to "#{@gm_sessions[table].size} / #{table.gms_needed}", event_session_table_game_masters_path(@event, @session, table) %>
        </td>
        <td>
          <% @gm_sessions[table].each do |gm| %>
            <% if gm.sign_in_url.present? %>
              <div><a href="<%= gm.sign_in_url %>" target="_blank"><%= gm.name %> (<%= gm.pfs_number %>)</a></div>
            <% else %>
              <div><%= gm.name %> (<%= gm.pfs_number %>)</div>
            <% end %>
          <% end %>
        </td>
      <% else %>
        <td>
          <%= @player_sessions[table].size %>/ <%= table.max_players %>
        </td>
        <td>
          <%= @gm_sessions.size[table] %>/ <%= table.gms_needed %>
        </td>
      <% end %>
      <td>
        <% if event_host? %>
          <%= button_to 'Show', [@event, @session, table], method: :get, :class => 'btn btn-info' %>
          <%= button_to 'Edit', edit_event_session_table_path(@event, @session, table), method: :get, :class => 'btn btn-primary' %>
          <%= button_to 'Remove', [@event, @session, table], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3" class="text-right"><strong>Totals (does not include raffles):</strong></td>
    <td>
      <%# TODO - maybe color code by percentage needed. %>
      <%# players %>
      <span class="text-success"><%= @session.players_count %> / <%= @session.total_max_players %></span>
    </td>
    <td colspan="2">
      <%# GMs %>
      <% if @session.gm_count == @session.total_gms_needed %>
        <% klass = 'text-success' %>
      <% else %>
        <% klass = 'text-danger' %>
      <% end %>

      <span class="<%= klass %>"><%= @session.gm_count %> / <%= @session.total_gms_needed %></span>
    </td>
  </tr>
  </tbody>
</table>
<hr>

<h3>All Players and GMs</h3>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Player Name</th>
    <th>Email</th>
    <th>Org Play#</th>
    <th>Paizo Forum Username</th>
  </tr>
  </thead>
  <tbody>
  <% @session.participants.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.email %></td>
      <td><%= player.pfs_number %></td>
      <td><%= player.forum_username %></td>
      <%# TODO: Add in the table %>
    </tr>
  <% end %>
  </tbody>
</table>
<hr>


<% if event_host? %>
  <div class="well">
    <h4>Add Tables to <%= @session.name %>.</h4>
    <p>
      The file should have columns of <code>scenario,online,location,gms_needed,max_players</code>, and expects
      those
      headers.</p>
    <%= form_tag upload_tables_csv_path(@session), :method => "post", :multipart => true do %>
      <label for="file">CSV File to Upload:</label><%= file_field_tag :file, :accept => 'text/csv' %>
      <br/>
      <div>
        <%= submit_tag "Upload CSV", :class => 'btn btn-danger' %>
        <%= link_to 'Add New Table', new_event_session_table_path(@event, @session), method: :get, :class => 'btn btn-warning' %>
        <%= link_to 'Edit', edit_event_session_path(@event, @session), method: :get, :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>
<%= button_to "Back to #{@event.name}", event_path(@event), method: :get, :class => 'btn btn-success' %>
