<div>
  <form action="/events/<%= registration_table.user_event.event.id %>/sessions/<%= registration_table.table.session.id %>/tables/<%= registration_table.table.id %>/registration_tables/<%= registration_table.id %>/table_payment" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <!-- this should pull the data-key from environment -->
    <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="<%= ENV['PUBLISHABLE_KEY'] %>"
    data-amount="<%= registration_table.table.price * 100 %>"
    data-name="<%= registration_table.user_event.user.name %>"
    data-description="<%= registration_table.table.long_name %> Payment"
    data-zip-code="true"
    data-allow-remember-me="false"
    <% unless button_label.blank? %>
    data-label="<%= button_label %>"
    <% end %>
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
    </script>
  </form>
</div>
