<p id="notice" class="text-warning"><%= notice %></p>

<div class="well">
  <div class="text-warning bg-warning">
    <p><%= @registration_table.table.long_name %> is a Premium table. As such, there is a ticket price
      of <%= number_to_currency @registration_table.table.price %> for this table (proceeds to go to charity). We will
      hold your seat for one hour for your payment. If we do not receive payment for this in one hour, your RSVP to the
      table will be canceled so that another person has the chance for this table. </p>
    <p> Premium tables are typically GMed by VIPs, such as their author, Paizo developers, or the like.</p>
    <p class="text-danger lead">Payments made for Premium Tables are <strong>non-refundable.</strong> Please take this
      into consideration before you make your payment.</p>
    <p>If you would prefer to not pay for this table, please click 'Cancel RSVP' below.</p>
  </div>
</div>
<%= render partial: "table_payment/table_payment", locals: {event: @event, registration_table: @registration_table, button_label: "Pay for #{@registration_table.table.long_name}"} %>
<%= button_to 'Cancel RSVP', [@event, @registration_table.table.session, @registration_table.table, @registration_table], method: :delete, data: {confirm: "Are you sure you want to remove your signup for #{@registration_table.table.long_name}?"}, :class => 'btn btn-danger', method: :delete %>
