<h1><%= @event.name %></h1>
<h2>Send Payment Reminder Message</h2>
<p id="notice"><%= notice %></p><p id="notice"><%= notice %></p>

<%= form_for (@event), url: new_event_payment_reminder_path do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this user_event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h3>Users being sent payment reminder message:</h3>
    <ul>
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </ul>


    <hr>
    <fieldset>
      <div class="field">
        <%= f.submit "Send Message", :class => 'btn btn-warning' %>
        <%= link_to 'Cancel', welcome_index_path, :class => 'btn btn-success' %>
      </div>
    </fieldset>
<% end %>
