<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>



    <div class="well">
      <div class="bg-warning">
        <div class="lead text-danger"><b>Do not use an alias!</b>.</div>
        <div>Please enter your complete first and last name into the name field.<br/>
          Using anything other than your full name will prevent admins from confirming your paid status within the
          application.
        </div>
      </div>
    </div>

    <div class="well">
      <div class="bg-warning">
        <div class="lead text-danger"><b>Important Note:</b>.</div>
        <div>Creating an account on this application will not register you for any events. This application can and will support
          many events, so you will need to register for the specific event (convention/game day/etc) that you wish to attend.
          <br/><br/>
          This is done by clicking the <span class="btn btn-warning">Register</span> button next to the event on the events listing.
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </div>
    <br>

    <div class="field">
      <%= f.label :pfs_number %> <br>
      <%= f.number_field :pfs_number %>
    </div>
    <br/>

    <div class="field">
      <%= f.label :forum_username, "Username used on Paizo Forums" %> <br>
      <%= f.text_field :forum_username %>
    </div>
    <br>

    <div class="field">
      <%= f.label :email %>: <em>Please use the email address that you registered with paizo.com.</em>
      <a href="#" class="btn" data-toggle="collapse" data-target="#emailInfo"><span class='glyphicon glyphicon-info-sign text-info' aria-hidden='true'></span></a>
      <div id="emailInfo" class="bg-info collapse">
        Using the same email address as you used for paizo.com will help us to get scenarios to you for conventions if
        you are a GM.
      </div>
      <br>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password %>
      <em>Do not use the same password that you used on paizo.com.</em>
      <a href="#" class="btn" data-toggle="collapse" data-target="#pwWarn"><span class='glyphicon glyphicon-exclamation-sign text-danger' aria-hidden='true'></span></a>
      <div id="pwWarn" class="bg-danger collapse">
        For your own safety, you should <i>always</i> use a different password for every site that you visit.
      </div>
      <% if @minimum_password_length %>
          <div><em>(<%= @minimum_password_length %> characters minimum)</em></div>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <%= f.hidden_field :admin, :value => false %>

    <hr>
    <div class="actions">
      <%= f.submit "Sign up", :class => 'btn btn-success' %>
    </div>
<% end %>

<%= render "devise/shared/links" %>

