<% content_for :head do %>
    <title><%= @event.name %> Registration</title>
<% end %>

<h3 class="hidden-print">All registrations, by user:</h3>

<% @event.user_events.each do |registration| %>
    <% player = registration.user %>
    <div class="well">
      <div class="row">
        <div class="col-md-2 col-sm-3"><strong>Name:</strong></div>
        <div class="col-md-6 col-sm-5"><%= player.name %></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-3"><strong>PFS Number:</strong></div>
        <div class="col-md-6 col-sm-5"><%= player.pfs_number %></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-3"><strong>Email:</strong></div>
        <div class="col-md-6 col-sm-5"><%= player.email %></div>
      </div>

      <% if @event.price&.nonzero? %>
          <div class="row">
            <div class="col-md-2 col-sm-3"><strong>Paid:</strong></div>
            <div class="col-md-6 col-sm-5">
              <% if registration.payment_ok? %>
                  Yes
              <% else %>
                  No
              <% end %>

            </div>
          </div>
      <% end %>
    </div>

    <% if registration.total_paid > 0 %>
        <hr>
        <%# Will probably need to fix the variables used here %>
        <% @user_event = registration %>
        <%= render 'user_events/all_payments_table' %>
    <% end %>
    <hr>

    <% unless registration.registration_tables.empty? %>
        <h2>Player Sessions</h2>
        <div class="well">
          <ul>
            <% registration.registration_tables.each do |reg_table| %>
                <li><%= "#{reg_table.table.session.name}: #{reg_table.table.scenario.long_name}" %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% unless registration.game_masters.empty? %>
        <h2>GM Sessions</h2>
        <div class="well">
          <ul>
            <% registration.game_masters.each do |reg_table| %>
                <li><%= "#{reg_table.table.session.name}: #{reg_table.table.scenario.long_name}" %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>
