<h3>Registration for <%= event.name %></h3>
<% player = user_event.user %>
<% @user_event = user_event %>
<div class="pageinate">
  <div class="well">
    <div class="row">
      <div class="col-md-2 col-sm-3"><strong>Name:</strong></div>
      <div class="col-md-6 col-sm-5"><%= player.name %></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3"><strong>PFS Number:</strong></div>
      <div class="col-md-6 col-sm-5"><%= player.pfs_number %></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3"><strong>Email:</strong></div>
      <div class="col-md-6 col-sm-5"><%= player.email %></div>
    </div>
    <% if @event.price&.nonzero? %>
        <div class="row">
          <div class="col-md-2 col-sm-3"><strong>Paid:</strong></div>
          <div class="col-md-6 col-sm-5">
            <% if user_event.payment_ok? %>
                Yes
            <% else %>
                No
            <% end %>

          </div>
        </div>
    <% end %>
  </div>

  <% if user_event.total_paid > 0 %>
      <hr>
      <%= render 'user_events/all_payments_table' %>
  <% end %>
  <hr>

  <%= render 'event_tables' %>
</div>