<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="well">
      <div class="bg-warning">
        <div class="lead text-danger"><b>Do not use an alias!</b>.</div>
        <div>Please enter your complete first and last name into the name field.<br/>
          Using anything other than your full name will prevent admins from confirming your paid status within the
          application.
        </div>
      </div>
    </div>

    <table class="table table-responsive">
      <tbody>
      <tr>
        <td>
          <%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>
          <%= f.label :email %></td>
        <td>
          <%= @user.email %>
          <div>
            <% if admin? %>
                <%= f.text_field :email %>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td><%= f.label :pfs_number %></td>
        <td><%= f.text_field :pfs_number %></td>
      </tr>
      <% if admin? %>
          <tr>
            <td><%= f.label :admin %></td>
            <td><%= f.check_box :admin %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


    <div class="actions">
      <%= f.submit "Save Changes", :class => 'btn btn-primary' %>
    </div>
<% end %>
