<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="well">
      <div class="bg-warning">
        <div class="lead text-danger"><b>Do not use an alias!</b>.</div>
        <div>Please enter your complete first and last name into the name field.<br/>
          Using anything other than your full name will prevent admins from confirming your paid status within the
          application.
        </div>
      </div>
    </div>

    <table class="table table-responsive">
      <tbody>
      <tr>
        <td>
          <%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>
          <%= f.label :email %></td>
        <td>
          <%= @user.email %>
          <div>
            <% if admin? %>
                <%= f.text_field :email %>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td><%= f.label :pfs_number, 'Paizo Organized Play Number' %></td>
        <td><%= f.text_field :pfs_number %></td>
      </tr>
      <tr>
        <td><%= f.label :dci_number, 'DCI Number' %></td>
        <td><%= f.text_field :dci_number %></td>
      </tr>
      <tr>
        <td><%= f.label :forum_username, "Username used on Paizo Forums" %></td>
        <td><%= f.text_field :forum_username %></td>
      </tr>
      <tr>
        <td><%= f.label :gm_stars %></td>
        <td><%= f.select :gm_stars, %w(0 1 2 3 4 5) %></td>
      </tr>
      <tr>
        <td>
          <%= f.label :opt_out, 'I do not want emails from this application.' %>
          <div class="info">(Note: you will still get emails for GM assignments and receipts)</div>
        </td>
        <td><%= f.check_box :opt_out %></td>
      </tr>
      <% if admin? %>
          <tr>
            <td><%= f.label :venture_officer %></td>
            <td><%= f.check_box :venture_officer %></td>
          </tr>
          <%# TODO Add JavaScript to suppress if not selected -%>
          <tr>
            <td><%= f.label :title %></td>
            <td><%= f.select :title, ["", "Venture-Agent", "Venture-Lieutenant", "Venture-Captain",
                                      "Regional Venture-Coordinator", "Organized Play Manager",
                                      "PFS Developer", "SFS Developer", "Paizo Developer", "Author", "Publisher" ] %></td>
          </tr>
          <tr>
            <td><%= f.label :admin %></td>
            <td><%= f.check_box :admin %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


    <div class="actions">
      <%= f.submit "Save Changes", :class => 'btn btn-primary' %>
    </div>
<% end %>
