<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pfs number:</strong>
  <%= @user.pfs_number %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Registrations</strong>
  <% @user.user_events.each do |user_event| %>
    <div><%= user_event.event.name %>
      <% user_event.registration_tables.each do |reg_table| %>
          <div><%= reg_table.table.session.name %>: <%= reg_table.table.scenario.name %></div>
      <% end %>
    </div>
<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
