<p id="notice"><%= notice %></p>

  <h1><%= @user.name %></h1>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pfs number:</strong>
  <%= @user.pfs_number %>
</p>

<% if admin? %>
    <p>
      <strong>Admin:</strong>
      <%= @user.admin %>
    </p>
<% end %>

<h2>Registrations</h2>
<% @user.user_events.each do |user_event| %>
    <h3><%= user_event.event.name %></h3>
    <!-- TODO - add clamshell? -->
    <ul>
      <% user_event.registration_tables.each do |reg_table| %>
          <li><%= reg_table.table.session.name %>: <%= reg_table.table.scenario.name %></li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if admin? %>
    <%= link_to 'Back', users_path %>
<% else %>
    <%= link_to 'Back', welcome_index_path %>
<% end %>
