<p id="notice"><%= notice %></p>

<h1><%= @user.formal_name_with_stars %></h1>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>


<% unless @user.pfs_number.nil? %>
  <p>
    <strong>Paizo OPF number:</strong>
    <%= @user.pfs_number %>
  </p>
<% end %>

<% unless @user.dci_number.nil? %>
  <p>
    <strong>DCI number:</strong>
    <%= @user.dci_number %>
  </p>
<% end %>

<p>
  <strong>Username for Paizo.com:</strong>
  <%= @user.forum_username %>
</p>

<p>
  <strong>I opted out of emails:</strong> <%= yes_no(@user.opt_out) %>
<div class="info">(Note: you will still get emails for GM assignments and receipts)</div>
</p>

<p><strong>GM Stars:</strong> <span class="lead text-warning"><%= @user.show_stars %></span></p>

<% if @user.venture_officer? %>
  <p><strong>Title:</strong> <%= @user.title %></p>
<% end %>

<% if admin? %>
  <p>
    <strong>Admin:</strong>
    <%= yes_no(@user.admin) %>
  </p>
<% end %>

<h2>Registrations</h2>
<% @user.user_events.each do |user_event| %>
  <div class="well">
    <h3><%= user_event.event.name %></h3>
    <!-- TODO - add clamshell? -->
    <ul>
      <% user_event.registration_tables.each do |reg_table| %>
        <li><%= reg_table.table.session.name %>: <%= reg_table.table.scenario.long_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= button_to 'Edit', edit_user_path(@user), method: :get, :class => 'btn btn-primary' %>
<% if admin? %>
  <%= button_to 'Back', users_path, method: :get, :class => 'btn btn-success' %>
<% else %>
  <%= button_to 'Back', welcome_index_path, method: :get, :class => 'btn btn-success' %>
<% end %>
