<h1>Send reminder message!</h1>
<p id="notice"><%= notice %></p><p id="notice"><%= notice %></p>

<%= form_for @message, url: session_reminder_path do |f| %>
    <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this user_event from being saved:</h2>

          <ul>
            <% @message.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <ul>
      <% @users.each do |user| %>
          <li><%= user.name %></li>
      <% end %>
    </ul>

    <hr>
    <fieldset>
      <div class="field">
        <%= f.submit "Send Message", :class => 'btn btn-warning' %>
        <%= link_to 'Cancel', welcome_index_path, :class => 'btn btn-success' %>
      </div>
    </fieldset>
<% end %>
