<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :event_number, 'Organized Play Event Number' %><br>
    <%= f.number_field :event_number %>
  </div>
  <hr/>

  <div class="field">
    <%= f.check_box :in_person %>
    <%= f.label :in_person, 'This convention will have an in person component' %>
  </div>

  <div class="field">
    <%= f.check_box :online %>
    <%= f.label :online, 'This convention will have an online component' %>
  </div>

  <div class="field">
    <%= f.check_box :gm_select_only %>
    <%= f.label :gm_select_only, 'Sign-ups are restricted to volunteering to GM:' %>
  </div>

  <div class="field">
    <%= f.check_box :gm_signup %>
    <%= f.label :gm_signup, 'GMs that have volunteered may sign-up for games' %>
  </div>

  <hr/>
  <%# let's put this in some sort of container %>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :prereg_ends, 'Preregistration or Early Bird ends' %><br>
    <%= f.datetime_select :prereg_ends %>
  </div>
  <div class="field">
    <%= f.label :online_sales_end, 'Online sale/selection of table tickets ends' %><br>
    <%= f.datetime_select :online_sales_end %>
  </div>
  <div class="field">
    <%= f.label :rsvp_close %><br>
    <%= f.datetime_select :rsvp_close %>
  </div>

  <hr/>

  <div class="field">
    <%= f.label :chat_server %><br>
    <%= f.text_field :chat_server %>
  </div>
  <div class="field">
    <%= f.label :chat_server_url %><br>
    <%= f.text_field :chat_server_url %>
  </div>
  <div class="field">
    <%= f.label :reporting_url %><br>
    <%= f.text_field :reporting_url %>
  </div>


  <hr/>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>

  <hr/>

  <div class="field">
    <%= f.check_box :charity %>
    <%= f.label :charity, 'This is a charity event: ' %>
  </div>

  <div class="field">
    <%= f.check_box :optional_fee %>
    <%= f.label :optional_fee, "The registration fee for this event is an optional donation: " %>
  </div>

  <hr/>

  <div class="field">
    <%= f.label :prereg_price, 'Preregistration or Early Bird Price' %><br>
    <%= f.number_field :prereg_price %>
  </div>
  <div class="field">
    <%= f.label :onsite_price, 'Onsite (Regular) Price' %><br>
    <%= f.number_field :onsite_price %>
  </div>
  <div class="field">
    <%= f.label :info %><br/>
    <%= f.text_area :info %>
  </div>
  <div class="field" id="attendance_policy_div">
    <hr>
    <%= f.label :attendance_policy %><br/>
    <%= f.text_area :attendance_policy %>
  </div>
  <hr>
  <div class="field">
    <%= f.check_box :gm_self_select %>
    <%= f.label :gm_self_select, 'GMs are allowed to self-select?' %>

  </div>
  <div class="field">
    <%= f.label :gm_volunteer_link %><br/>
    <%= f.url_field :gm_volunteer_link %>
  </div>
  <hr>
  <div class="field">
    <%= f.check_box :tables_reg_offsite %>
    <%= f.label :tables_reg_offsite, 'Table registration is being handled by external convention?' %>
  </div>
  <p class="field">
    <%= f.label :external_url, 'URL for external Convention\'s registration site.' %><br>
    <%= f.url_field :external_url %>
  </p>
  <div class="actions">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>
