<p id="notice"><%= notice %></p>

<h1>All Events</h1>

<!-- header row -->
<div class="row">
  <div class="col-md-2"><b>Name</b></div>
  <div class="col-md-4"><b>Dates</b></div>
  <div class="col-md-2"><b>Location</b></div>
  <div class="col-md-1"><b>Registrations</b></div>
  <div class="col-md-1"></div>
  <div class="col-md-2"></div>
  <% if current_user.admin? %>
      <div class="col-md-2"><b>Registered Users</b></div>
  <% end %>
</div>

<% @events.each do |event| %>
    <div class="row">
      <div class="col-md-2"><%= event.name %></div>
      <div class="col-md-4"><%= event.start.to_formatted_s(:long) %> - <%= event.end.to_formatted_s(:long) %></div>
      <div class="col-md-2"><%= event.location %></div>
      <div class="col-md-1"><%= event.user_events.length %></div>
      <div class="col-md-1"><%= link_to 'Show', event %></div>
      <% if current_user.admin? %>
          <div class="col-md-2">
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
      <% end %>
      <% if current_user.admin? %>
          <div class="col-md-2">
            <!-- this needs to be limited by this event -->
            <% event.user_events.each do |registration| %>
                <div><%= registration.user.name %> (<%= registration.user.email %>)</div>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>

<hr>

<h3>Events that <%= current_user.name %> is registered for</h3>
<% current_user.user_events.each do |registration| %>
    <div><%= link_to "#{registration.event.name} (#{registration.event.start.to_formatted_s(:short)} to #{registration.event.end.to_formatted_s(:short)})", registration.event %></div>
    <% # Add in their tables %>
    <ul>
      <% registration.registration_tables.each do |reg_table| %>
          <li><%= link_to "#{reg_table.table.scenario.long_name}", reg_table.table.scenario %></li>
      <% end %>
    </ul>
<% end %>

<hr>

<% if current_user.admin? %>
    <%= link_to 'New Event', new_event_path %>
    <br>
<% end %>

<br>
<%= link_to 'Scenario Listing', scenarios_path %>
