<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<h2><%= @event.location %></h2>
<h2><%= @event.start.to_formatted_s(:long) %> to <%= @event.end.to_formatted_s(:long) %></h2>

<div class="detailsBlock" style="border: solid thin black;">
  <h3>Registration Details</h3>
  <div class="well">
    <div class="row">
      <div class="col-md-2">
        <b>Registered? </b>
      </div>
      <div class="col-md-2">
        <% if @registration %>
            Yes
        <% else %>
            No
        <% end %>
      </div>
    </div>

    <% if @registration %>
        <div class="row">
          <div class="col-md-2"><b>Paid?</b></div>
          <% if @registration.paid? %>
              <div class="col-md-2">
                Yes
              </div>
          <% else %>
              <div class="col-md-2">
                <% # This has to be dynamic for future events. %>
                No:
              </div>
              <div class="col-md-6">
                <a href="http://www.skalcon.org/index.php/register/">Pay for SkålCon</a>
              </div>
          <% end %>
        </div>
    <% end %>

  </div>
</div>

<div class="sessionsOffered" style="border: solid thin black;">
  <h3>Sessions/Scenarios Offered</h3>

  <div class="well">
    <div class="bg-warning text-danger lead" style="margin-bottom: 0"><strong>Attention GMs!</strong></div>
    <div class="bg-warning text-primary" style="margin-top: 0">If you are planning on GMing in a slot, please do not
      sign up to play in that slot. The hosts of <%= @event.name %> will assign you to your GM slot once you have
      registered and paid for <%= @event.name %>. Note that currently marking a person as paid is currently a manual
      process, so there may be a lag of a day or two once your payment has processed.<br>
      Thank you.
    </div>
  </div>

  <% sessionList = @event.sessions.sort { |a, b| a.start <=> b.start } %>
  <!-- header -->
  <div class="row list-group-item no-pad">
    <div class="col-md-4 no-pad">
      <div class="row no-pad">
        <div class="col-md-6 header">Session:</div>
        <div class="col-md-6 header">Start/End Time:</div>
      </div>
    </div>
    <div class="col-md-8 no-pad">
      <div class="row no-pad">
        <div class="col-md-6 header">Scenarios Offered:</div>
        <div class="col-md-1 header" style="padding-left: 0.75em;">Seats</div>
        <div class="col-md-4 header" style="padding-left: 2px;">Attending?</div>
        <div class="col-md-1 header no-pad">GMs</div>
      </div>
    </div>
  </div>

  <% sessionList.each do |session| %>
      <div class="row no-pad striped-outer">
        <div class="col-md-4 no-pad">
          <div class="row no-pad">
            <div class="col-md-6 no-pad">
              <%= link_to "#{session.name}", [@event, session] %>
            </div>
            <div class="col-md-6 no-pad">
              <%= session.start.strftime("%a %H:%M") %> - <%= session.end.strftime("%a %H:%M") %>
            </div>
          </div>
        </div>
        <div class="col-md-8 no-pad">
          <!-- scenarios here -->
          <div class="row no-pad">
            <% session.tables.each do |table| %>
                <div class="row no-pad striped-inner">
                  <div class="col-md-5 no-pad">
                    <% scenario = table.scenario %>
                    <%= scenario.name %>
                  </div>
                  <div class="col-md-1 no-pad">
                    <button data-toggle="modal" title="<%= scenario.name %>" data-target="#scenario_<%= scenario.id %>" class="formButton">Details</button>
                    <div id="scenario_<%= scenario.id %>" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-header"><%= scenario.name %></h4>
                          </div>
                          <div class="modal-body">
                            <div>
                              <b>Type:</b>  <%= scenario.type %>
                            </div>
                            <% if scenario.pregen_only %>
                                <div class="bg-primary">
                                  This scenario is pregen-only.
                                </div>
                            <% end %>
                            <% if scenario.hard_mode %>
                                <div class="bg-primary">
                                  This scenario has a hard mode.
                                </div>
                            <% end %>
                            <hr>
                            <div style="white-space: pre-wrap;"><%= scenario.description %></div>
                            <div>
                              <strong>Written by:</strong> <%= scenario.author %>
                            </div>
                            <div>
                              <% if table.scenario.paizo_url.nil? %>
                                  <a href="<%= scenario.paizo_url %>" target="_blank">Click to see on Paizo's site</a>.
                              <% end %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 no-pad" style="padding-left: 0.5em;"><%= table.max_players - table.registration_tables.length %>
                    of <%= table.max_players %>
                  </div>
                  <% if @registration %>
                      <div class="col-md-2 no-pad">
                        <% if @tables.include? table %>
                            <b>Attending</b>
                        <% elsif @gm_tables.include? table %>
                            Game Master
                        <% else %>
                            <!-- No -->
                        <% end %>
                      </div>
                      <%# Add in column to indicate if GMing. Or, have Yes changed to GMing? %>
                      <div class="col-md-2 no-pad">
                        <% if @tables.include? table %>
                            <!-- get table for this user -->
                            <% table.registration_tables.each do |reg_table| %>
                                <% if @reg_tables.include?(reg_table) %>
                                    <%= button_to 'Remove', [@event, session, table, reg_table], method: :delete, data: {confirm: "Are you sure you want to remove your signup for #{reg_table.name}: #{reg_table.table.scenario.name}?"}, :class => 'formButton', method: :delete %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% registrations_available = (table.max_players > table.registration_tables.length) %>
                        <% registered_this_session = @sessions.include?(session) || @gm_sessions.include?(session) %>
                        <% if !registered_this_session && registrations_available && @registration.paid? %>
                            <%= button_to 'Sign Up', new_event_session_table_registration_table_path(@event, session, table), :class => 'formButton', :method => :get %>
                        <% end %>
                      </div>
                  <% end %>
                  <div class="col-md-1 no-pad">
                    <% if table.game_masters.nil? %>
                        <%= table.gms_needed %>
                    <% else %>
                        <%= table.gms_needed - table.game_masters.size %>
                    <% end %> of <%= table.gms_needed %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>


<hr>
<% if @registration %>
    <div><%= button_to "Unregister for #{@registration.event.name}", [@event, @registration], method: :delete, data: {confirm: 'Are you sure? Unregistering for the event will remove you from all tables, and will not refund your payment.'}, :class => 'mainButton' %>
      <% if @registration && @registration.paid? %>
          <em>Note: unregistering will not refund your payment.</em>
      <% end %>
    </div>
<% else %>
    <div><%= button_to "Register for #{@event.name}?", new_event_user_event_path(@event), :class => 'mainButton', method: :get %></div>
<% end %>
<hr>
<% if current_user.admin? %>
    <div><%= link_to 'Add Session', new_event_session_path(@event) %></div>
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
