<p id="notice"><%= notice %></p>

<h1><%=  @event.name %></h1>

<h2>Details</h2>
<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start.to_formatted_s(:long) %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end.to_formatted_s(:long) %>
</p>

<h2>Session List for <%= @event.name %></h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th> </th>
    <th>End</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @event.sessions.each do |session| %>
      <tr>
        <td><%= session.name %> (#<%= session.id %>)</td>
        <td><%= session.start.to_s %></td>
        <td>-</td>
        <td><%= session.end.to_s %></td>
        <td><%= link_to 'Show', [@event, session] %></td>
        <td><%= link_to 'Edit', edit_event_session_path(@event, session) %> </td>
        <%#<td><%= link_to 'Destroy', [@event,session], method: :delete, data: { confirm: 'Are you sure?' } </td>%>

      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add Session', new_event_session_path(@event) %>

<br>
<br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
