<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<h2>Details</h2>
<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Registered?</strong>
  <% if @registered %>
      Yes
  <% else %>
      No
  <% end %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start.to_formatted_s(:long) %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end.to_formatted_s(:long) %>
</p>

<h2>Session List for <%= @event.name %></h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Start/End Time</th>
    <th>Scenarios Offered (Seats available)</th>
  </tr>
  </thead>

  <tbody>
  <% @event.sessions.each do |session| %>
      <tr>
        <td><%= session.id %></td>
        <td><%= session.name %></td>
        <td><%= session.start.to_s(:long) %> - <%= session.end.to_s(:long) %></td>
        <td>
          <% table_ok = true %>
          <% session.tables.each do |table| %>

              <div class="row">
                <%= table.scenario.season %>-<%= table.scenario.scenario_number %>:
                <%= table.scenario.name %>
                (<%= table.max_players - table.registration_tables.length %>/<%= table.max_players %>)
                <% if @tables.include? table %>
                    Registered
                    <!-- get table for this user -->
                    <% table.registration_tables.each do |reg_table| %>
                        <% if reg_table.user_event.user == current_user %>
                            <%= link_to 'Remove this table', [@event, session, table, reg_table], method: :delete, data: {confirm: 'Are you sure?'} %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if !@sessions.include? session %>
                    <%= link_to 'Add this table', new_event_session_table_registration_table_path(@event, session, table ) %>
                <% end %>
              </div>
          <% end %>
        </td>
        <td><%= link_to 'Show', [@event, session] %></td>
        <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_event_session_path(@event, session) %> </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<% if !@registered %>
    <div><%= link_to 'Register for event?', new_event_user_event_path(@event) %></div>
<% end %>
<% if current_user.admin? %>
    <div><%= link_to 'Add Session', new_event_session_path(@event) %></div>
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
