<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>


<div class="detailsBlock" style="border: solid thin black;">
  <h2>Details</h2>
  <div><b>Location:</b> <%= @event.location %></div>
  <div><b>Registered? </b>
    <% if @registration %>
        Yes
    <% else %>
        No
    <% end %>
  </div>
  <div><b>Paid?</b>
    <% if @registration && @registration.paid? %>
        Yes
    <% else %>
        <% # This has to be dynamic for future events. %>
        No: <a href="http://www.skalcon.org/index.php/register/">Pay for SkålCon</a>
    <% end %>
  </div>
  <div><b>Date/Time: </b> <%= @event.start.to_formatted_s(:long) %> to <%= @event.end.to_formatted_s(:long) %></div>
</div>

<div class="sessionsOffered" style="border: solid thin black;">
  <h3>Sessions/Scenarios Offered</h3>

  <% sessionList = @event.sessions.sort { |a, b| a.start <=> b.start } %>
  <!-- header -->
  <div class="row list-group-item no-pad">
    <div class="col-md-5 no-pad">
      <div class="row no-pad">
        <div class="col-md-6 header no-pad">Session:</div>
        <div class="col-md-6 header no-pad">Start/End Time:</div>
      </div>
    </div>
    <div class="col-md-7 no-pad">
      <div class="row">
        <div class="col-md-6 header no-pad">Scenarios Offered:</div>
        <div class="col-md-3 header no-pad">Seats</div>
        <div class="col-md-2 header no-pad">Registered</div>
        <div class="col-md-1 header no-pad">&nbsp;</div>
      </div>
    </div>
  </div>

    <div>
    <% sessionList.each do |session| %>
        <div class="row no-pad" style="border-bottom: solid black thin;">
          <div class="col-md-5 no-pad">
            <div class="row no-pad">
              <div class="col-md-6 no-pad">
                <%= link_to "#{session.name}", [@event, session] %>
              </div>
              <div class="col-md-6 no-pad">
                <%= session.start.strftime("%a %H:%M") %> - <%= session.end.strftime("%a %H:%M") %>
              </div>
            </div>
          </div>
          <div class="col-md-7 no-pad">
            <!-- scenarios here -->
            <dov class="list-group row no-pad">
              <% session.tables.each do |table| %>
                  <div class="row no-pad">
                    <div class="col-md-6 no-pad">
                      <% if table.scenario.paizo_url.nil? %>
                          <%= link_to "#{table.scenario.long_name}", table.scenario %> <br/>
                      <% else %>
                          <a target="_blank" href="<%= table.scenario.paizo_url %>"><%= table.scenario.long_name %></a>
                      <% end %>
                    </div>
                    <div class="col-md-3 no-pad"><%= table.max_players - table.registration_tables.length %>
                      of <%= table.max_players %>
                    </div>
                    <% if @registration %>
                        <div class="col-md-1 no-pad">
                          <% if @tables.include? table %>
                              <b>Yes</b>
                          <% else %>
                              No
                          <% end %>
                        </div>
                        <div class="col-md-2 no-pad">
                          <% if @tables.include? table %>
                              <!-- get table for this user -->
                              <% table.registration_tables.each do |reg_table| %>
                                  <% if @reg_tables.include?(reg_table) %>
                                      <%= link_to 'Remove', [@event, session, table, reg_table], method: :delete, data: {confirm: 'Are you sure?'} %>
                                  <% end %>
                              <% end %>
                          <% end %>
                          <% # TODO - move this to the controller - perhaps in a map? %>
                          <% registrations_available = (table.max_players > table.registration_tables.length) %>
                          <% registered_this_session = @sessions.include? session %>
                          <% if !registered_this_session && registrations_available %>
                              <% # TODO - deny access to add tables if they are not paid %>
                              <%= link_to 'Add', new_event_session_table_registration_table_path(@event, session, table) %>
                          <% end %>
                        </div>
                    <% end %>
                  </div>
              <% end %>
            </dov>
          </div>
        </div>
    <% end %>
  </div>

</div>

<hr>
<% if @registration %>
    <div><%= link_to "Unregister for #{@registration.event.name}", [@event, @registration], method: :delete, data: {confirm: 'Are you sure? Unregistering for the event will remove you from all tables, and will not refund your payment.'} %>
      <% if @registration && @registration.paid? %>
          <em>Note: unregistering will not refund your payment.</em>
      <% end %>
    </div>
<% else %>
    <div><%= link_to "Register for #{@event.name}?", new_event_user_event_path(@event) %></div>
<% end %>
<hr>
<% if current_user.admin? %>
    <div><%= link_to 'Add Session', new_event_session_path(@event) %></div>
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
