<% unless notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<style type="text/css">
    dt, dd {
        font-size: 16px;
    }
</style>

<h1><strong><%= @event.name %></strong></h1>
<div>
  <h2>Event Details</h2>
  <dl class="dl-horizontal">
    <dt>Location:</dt>
    <dd class=" text-info"><%= @event.location %></dd>
    <dt>Dates:</dt>
    <dd class=" text-info"><%= @event.start.localtime.to_formatted_s(:long) %>
      to <%= @event.end.localtime.to_formatted_s(:long) %></dd>
    <% if @event.event_number? %>
      <dt>Event Number:</dt>
      <dd class=" text-info"><%= @event.event_number %></dd>
    <% end %>
    <dt>Event Type:</dt>
    <dd class="text-info">
      <% if @event.in_person? %>In person
      <% end %>
      <% if @event.in_person? && @event.online? %>and online
      <% elsif @event.online? %>Online
      <% end %>
    </dd>
    <% if @event.has_chat_server? %>
      <dt>Chat Server:</dt>
      <dd><a target="_blank" href="<%= @event.chat_server_url %>"><%= @event.chat_server %></a></dd>
    <% end %>
  </dl>
</div>

<div>
  <h2>Online Registration</h2>
  <% if @event.closed? %>
    <div class="alert-danger lead">Online Registration is closed!</div>
  <% else %>
    <% if @event.early_bird? %>
      <% unless @event.prereg_closed? %>
        <div class="text-warning">
          <span class="lead">Early Bird/Pre-registration closes: <%= @event.prereg_ends.localtime.to_formatted_s(:long_ordinal) %></span>
        </div>
      <% end %>
    <% end %>
    <% unless @event.online_sales_end.nil? %>
      <div class="text-warning"><span class="lead">Online table selection and ticket sales
        closes: <%= @event.online_sales_end.localtime.to_formatted_s(:long_ordinal) %></span></div>
    <% end %>
    <% unless @event.rsvp_close.nil? %>
      <div class="text-warning"><span class="lead">Registration
        closes: <%= @event.rsvp_close.localtime.to_formatted_s(:long_ordinal) %></span></div>
    <% end %>
  <% end %>
</div>

<div class="detailsBlock" style="border: solid thin black;">
  <h3>Registration Details</h3>

  <div class="well">
    <div class="bg-warning text-primary" style="margin-top: 0;white-space: pre-wrap"><%= @event.info %></div>
  </div>
  <div class="well">
    <% if @event.charity? %>
      <div class="row">
        <div class="col-md-4 text-info">
          <strong>This is a charity event.</strong>
        </div>
      </div>
    <% end %>
    <% if !@event.price.nil? && @event.price > 0 %>
      <div class="row">
        <div class="col-md-2">
          <strong>Cost:</strong>
        </div>
        <div class="col-md-6">
          <% unless @event.prereg_closed? %>
            <%= number_to_currency(@event.prereg_price) %>
            <% unless @event.prereg_ends.nil? %>
              (after <%= @event.prereg_ends.localtime.to_formatted_s(:long_ordinal) %> it will
              be <%= number_to_currency @event.onsite_price %>)
            <% end %>
          <% else %>
            <%= number_to_currency @event.onsite_price %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-2">
        <b>Registered? </b>
      </div>
      <div class="col-md-2">
        <% if @registration %>
          Yes
        <% else %>
          No
        <% end %>
      </div>
    </div>
    <% unless @event.external_url.blank? %>
      <div class="row">
        <div class="col-md-12">
          <div class="bg-warning text-danger">
            <div style="display: inline-block; vertical-align: top;">
              <span class="text-danger glyphicon glyphicon-warning-sign"></span></div>
            Registering for this event here does NOT register you for the convention.
            To do that, you will need to register at the URL below. You will not be able to play or GM
            without a paid registration to the convention itself!
          </div>
          <br>
          <% if @event.tables_reg_offsite %>
            <div class="bg-warning text-danger">
              <div style="display: inline-block; vertical-align: top;">
                <span class="text-danger glyphicon glyphicon-warning-sign"></span></div>
              Sign-up for individual tables is handled at the convention website.
            </div>
          <% else %>
            <div class="bg-warning text-info">Sign-up for individual tables is handled here.</div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <% cols = @event.tables_reg_offsite ? 3 : 2 %>
        <div class="col-md-<%= cols %>">
          <div style="display: inline-block; vertical-align: top;">
            <span class="text-danger glyphicon glyphicon-warning-sign"></span></div>
          <strong>Register for convention
            <% if @event.tables_reg_offsite %>
              and sign-up for tables
            <% end %> at:</strong>
        </div>

        <div class="col-md-4">
          <a target="_blank" href="<%= @event.external_url %>"><%= @event.external_url %></a>
        </div>
      </div>
    <% end %>

    <% if @registration && @registration.event.price&.nonzero? %>
      <div class="row">
        <div class="col-md-2"><b>Paid?</b></div>
        <% if @registration.payment_ok? %>
          <div class="col-md-6">
            Yes (<%= number_to_currency (@registration.payment_amount.to_f / 100) %>
            <% if @registration.payment_date %>
              on <%= @registration.payment_date.localtime.to_formatted_s(:long_ordinal) %>
            <% end %>)
          </div>
        <% else %>
          <div class="col-md-2">
            <% # This has to be dynamic for future events. %>
            No:
          </div>
          <div class="col-md-6">
            <%= render partial: "registration_payment/registration_payment", locals: { event: @event, user_event: @registration } %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>

<%# TODO - for future, maybe make this a little more dynamic - and have a custom message %>
<% unless self_select_allowed? %>
  <div id="gm_info" style="border: solid thin black;">
    <h3 class="text-danger">Attention GMs!</h3>

    <div class="well">
      <% unless @event.gm_volunteer_link.blank? %>
        <div class="bg-info" style="margin-top: 1em;padding: 1em;">If you would like to GM for <%= @event.name %>
          please do so at our:
          <input type="button" class="btn btn-primary" value="GM Volunteer Form" formtarget="_blank"
                 onclick="window.open('<%= @event.gm_volunteer_link %>',  '_blank');">
        </div>
      <% end %>
      <div class="bg-warning text-warning" style="margin-top: 0">
        <div style="display: inline-block; vertical-align: top; font-size: 1.5em;">
          <span class="text-danger glyphicon glyphicon-warning-sign"></span></div>
        <div style="display: inline-block;">If you are planning on GMing in a slot, please do not sign up to play in
          that slot.
          <br>The hosts of <%= @event.name %> will assign you to your GM slot once you have registered and paid
          for <%= @event.name %>.
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="sessionsOffered" style="border: solid thin black;">
  <h3>Sessions/Scenarios Offered</h3>

  <% if @event.closed? %>
    <div class="well">
      <div class="bg-warning text-danger lead" style="margin-bottom: 0">
        <strong>Online registration is closed</strong>
      </div>
      <div class="bg-warning text-primary" style="margin-top: 0">In order to make any changes to your
        registrations and signups, you will need to see HQ at the event.
      </div>
    </div>
  <% end %>
  <% if @event.online_sales_closed? %>
    <div class="well">
      <div class="bg-warning text-danger lead" style="margin-bottom: 0">
        <strong>Online ticket sales are closed</strong>
      </div>
      <div class="bg-warning text-danger" style="margin-top: 0">
        At this time, in order select or exchange any session tickets, you will need to see HQ at the event.<br>
        This is to enable the convention time to print physical tickets for the event.<br>
        Thank you for understanding.
      </div>
    </div>
  <% end %>

  <% sessionList = @event.sessions.sort { |a, b| a.start <=> b.start } %>
  <!-- header -->
  <div class="row list-group-item no-pad">
    <div class="col-md-4 no-pad">
      <div class="row no-pad">
        <div class="col-md-6 header">Session:</div>
        <div class="col-md-6 header">Start/End Time:</div>
      </div>
    </div>
    <div class="col-md-8 no-pad">
      <div class="row no-pad">
        <div class="col-md-5 header no-pad">Scenarios Offered:</div>
        <div class="col-md-1 header no-pad">Details</div>
        <div class="col-md-2 header no-pad">Seats Remaining</div>
        <div class="col-md-2 header no-pad" style="padding-left: 1em;">RSVP</div>
        <div class="col-md-2 header no-pad text-right" style="padding-right: 2px;">GMs Needed</div>
      </div>
    </div>
  </div>

  <% sessionList.each do |session| %>
    <div class="row no-pad striped-outer">
      <div class="col-md-4 no-pad">
        <div class="row no-pad">
          <div class="col-md-6 no-pad">
            <%= link_to "#{session.name}", [@event, session] %>
          </div>
          <div class="col-md-6 no-pad">
            <%= session.start.strftime("%a %H:%M") %> - <%= session.end.strftime("%a %H:%M") %>
          </div>
        </div>
      </div>
      <div class="col-md-8 no-pad">
        <!-- scenarios here -->
        <% tables = session.tables %>
        <% tables = tables.sort_by { |table| [table.scenario] } %>
        <% tables.each do |table| %>
          <div class="row no-pad striped-inner">
            <div class="col-md-5 no-pad ">
              <%# TODO make this a reusable partial %>
              <% scenario = table.scenario %>
              <%= scenario.long_name %>
              <% if table.premium? && !table.game_masters[0].nil? %>
                with
                <% authors = table.game_masters.map { |gm| gm.user_event.user.formal_name }.join(" & ") %>
                <%= authors %>
              <% end %>
              <%= render 'table_badges', table: table %></div>

            <%# TODO Make this a partial or helper %>
            <div class="col-md-1 no-pad">
              <button data-toggle="modal" title="<%= scenario.long_name %>" data-target="#scenario_<%= scenario.id %>" class="btn btn-xs btn-info">Details</button>
              <div id="scenario_<%= scenario.id %>" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-header"><%= scenario.long_name %></h4>
                    </div>
                    <div class="modal-body">
                      <div>
                        <b>Type:</b>  <%= scenario.type_of %>
                      </div>
                      <% if scenario.pregen_only %>
                        <div class="bg-primary">
                          This scenario is pregen-only.
                        </div>
                      <% end %>
                      <% if scenario.hard_mode %>
                        <div class="bg-primary">
                          This scenario has a hard mode.
                        </div>
                      <% end %>
                      <hr>
                      <div style="white-space: pre-wrap;"><%= scenario.description %></div>
                      <div>
                        <strong>Written by:</strong> <%= scenario.author %>
                      </div>
                      <div>
                        <% unless table.scenario.paizo_url.nil? %>
                          <a href="<%= scenario.paizo_url %>" target="_blank">Click to see on Paizo's
                            site</a>.
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% registrations_available = (table.max_players > table.registration_tables.length) %>
            <div class="col-md-2 no-pad " style="padding-left: 0.25em;">
              <% if !registrations_available %>
                <span class="text-danger"><b>Full</b></span>
              <% else %>
                <%= table.max_players - table.registration_tables.length %> of <%= table.max_players %>
                left
              <% end %>

            </div>
            <% if @registration %>
              <div class="col-md-3 no-pad " style="padding-left: 1em;">
                <% if @tables.include? table %>
                  <% registration_table = @reg_tables_hash[table] %>
                  <% if registration_table.payment_ok? %>
                    <span class="badge badge-player">Player</span>
                  <% else %>
                    <%= render partial: "table_payment/table_payment", locals: { event: @event, registration_table: registration_table, button_label: "Pay for Ticket" } %>
                  <% end %>
                <% elsif @gm_tables.include? table %>
                  <span class="badge badge-gm">GM</span>
                <% else %>
                  <!-- No -->
                <% end %>

                <% if @tables.include? table %>
                  <!-- get table for this user -->
                  <% table.registration_tables.each do |reg_table| %>
                    <% unless @event.closed? %>
                      <% if @reg_tables.include?(reg_table) %>
                        <% unless reg_table.table.premium %>
                          <%= button_to 'Remove', [@event, session, table, reg_table], data: { confirm: "Are you sure you want to remove your RSVP for #{reg_table.table.long_name}?" }, :class => 'btn btn-xs btn-danger', method: :delete %>
                        <% else %>
                          <%= button_to 'Remove', [@event, session, table, reg_table], data: { confirm: "Are you sure you want to remove your RSVP for #{reg_table.table.long_name}? Canceling your RSVP will not refund your money." }, :class => 'btn btn-xs btn-danger', method: :delete %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>

                <% registered_this_session = @sessions.include?(session) || @gm_sessions.include?(session) %>
                <% if !registered_this_session && registrations_available && @registration.payment_ok? %>
                  <% unless table.raffle? or @event.closed? or online_sales_closed? or @event.tables_reg_offsite %>
                    <% unless table.premium? %>
                      <%= button_to 'Sign Up', new_event_session_table_registration_table_path(@event, session, table),
                                    :class => "btn btn-xs btn-primary", :method => :get, :disabled => table.closed? %>
                    <% else %>
                      <%= button_to "Buy Ticket for #{number_to_currency table.price}", new_event_session_table_registration_table_path(@event, session, table),
                                    :class => "btn btn-xs btn-success", :method => :get, :disabled => table.closed?,
                                    data: { confirm: "This is a premium event with a price of #{number_to_currency table.price}. You will have 1 hour to pay for this ticket." }
                      %>
                    <% end %>
                  <% end %>
                <% end %>

                <% if !registered_this_session && table.gm_self_select? && table.need_gms? %>
                  <%= button_to 'I will GM!', new_event_session_table_game_master_path(@event, session, table),
                                :class => "btn btn-xs btn-primary", :method => :get, :disabled => table.closed? %>
                <% end %>


              </div>

            <% else %>
              <div class="col-md-3 no-pad">&nbsp;</div>
            <% end %>
            <!-- end of is registered -->
            <div class="col-md-1 no-pad ">
              <% if table.game_masters.nil? %>
                <%= table.gms_needed %>
              <% else %>
                <%= table.gms_needed - table.game_masters.size %>
              <% end %> of <%= table.gms_needed %>
            </div>
          </div> <%# end of the scenario list %>

        <% end %>
        <%# this should be a different shading for the totals %>
        <div class="row no-pad totals">
          <div class="col-md-1 col-md-offset-5"><span class="text-primary"><strong>Totals:</strong></span>
          </div>
          <div class="col-md-2 no-pad ">
              <span class="text-primary"><%= session.total_max_players - session.players_count %>
                of <%= session.total_max_players %> left</span></div>
          <div class="col-md-3 no-pad ">&nbsp;</div>

          <% if session.gm_count == session.total_gms_needed %>
            <% klass = 'text-primary' %>
          <% else %>
            <% klass = 'text-danger' %>
          <% end %>
          <div class="col-md-1 no-pad"><span class="<%= klass %>"><%= session.total_gms_needed - session.gm_count %>
            of <%= session.total_gms_needed %> needed</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<hr>
<% if @registration %>
  <div>
    <%= link_to raw("<span class='glyphicon glyphicon-warning-sign' aria-hidden='true'></span> Unregister for #{@registration.event.name}"),
                [@event, @registration],
                method: :delete,
                data: { confirm: 'Are you sure? Unregistering for the event will remove you from all tables, and will not refund your payment.' },
                :class => 'btn btn-danger' %>

    <% if @registration && @registration.paid? %>
      <em>Note: unregistering will not refund your payment(s).</em>
    <% end %>
  </div>
<% else %>
  <div><%= button_to "Register for #{@event.name}?", new_event_user_event_path(@event), :class => 'btn btn-warning', method: :get %></div>
<% end %>
<hr>
<% if event_host? %>
  <%= button_to 'Add Session', new_event_session_path(@event), :class => 'btn btn-warning', :method => :get %>
<% end %>
<% if admin? %>
  <%= button_to 'Add Session', new_event_session_path(@event), :class => 'btn btn-warning', :method => :get %>
  <%= button_to 'Edit', edit_event_path(@event), :class => 'btn btn-primary', :method => :get %>
<% end %>
<%= button_to 'Back', events_path, :class => 'btn btn-success', :method => :get %>
