<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<h2>Details</h2>

<div><b>Location:</b> <%= @event.location %></div>
<div><b>Registered? </b>
  <% if @registered %>
      Yes
  <% else %>
      No
  <% end %>
</div>
<div><b>Date/Time: </b> <%= @event.start.to_formatted_s(:long) %>-<%= @event.end.to_formatted_s(:long) %></div>
<hr>
<h3>Sessions/Scenarios Offered</h3>
<div class="row">
  <div class="col-md-1"><h4>Name:</h4></div>
  <div class="col-md-3"><h4>Start/End Time:</h4></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3"><h4>Scenarios Offered </h4></div>
      <div class="col-md-2"><h4>(Seats Available)</h4></div>
      <div class="col-md-2"><h4>Registered?</h4></div>
      <div class="col-md-5"><h4></h4></div>
    </div>
  </div>
</div>
<% @event.sessions.each do |session| %>
    <div class="row">
      <div class="col-md-1"><%= session.name %></div>
      <div class="col-md-3"><%= session.start.to_s(:long) %> - <%= session.end.to_s(:long) %></div>
      <!-- scenarios/tables -->
      <div class="col-md-8">
        <% session.tables.each do |table| %>
            <!-- inner rows -->
            <div class="row">
              <div class="col-md-3"><%= table.scenario.long_name %></div>
              <div class="col-md-2">(<%= table.max_players - table.registration_tables.length %>
                /<%= table.max_players %>)
              </div>
              <div class="col-md-1">
                <% if @tables.include? table %>
                    Yes
                <% else %>
                    No
                <% end %>
              </div>
              <div class="col-md-5">
                <% if @tables.include? table %>
                    <!-- get table for this user -->
                    <% table.registration_tables.each do |reg_table| %>
                        <% if reg_table.user_event.user == current_user %>
                            <%= link_to 'Remove this table', [@event, session, table, reg_table], method: :delete, data: {confirm: 'Are you sure?'} %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if !@sessions.include? session %>
                    <%= link_to 'Add this table', new_event_session_table_registration_table_path(@event, session, table) %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<% if !@registered %>
    <hr>
    <div><%= link_to 'Register for event?', new_event_user_event_path(@event) %></div>
<% end %>
<hr>
<% if current_user.admin? %>
    <div><%= link_to 'Add Session', new_event_session_path(@event) %></div>
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
