<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
  <p><b>Hello <%= @message.user&.name %>,</b></p>

  <p>We are a little more than one month out from Con of the North 2023! A few of our Starfinder tables are still in
    need of GMs, and we will need to cancel if we do not have any volunteers. Below are listed all the tables
    (with how many tickets have sold) that we are short GMs. We would appreciate any help you can give!</p>

  <p>Remember, Paizo will be supplying all scenarios needed. MN-POP will provide copies of chronicles and will have
    water and throat lozenges for our table GMs.</p>

  <ul>
    <li>SFS 5-11: Archivist's Inquiry Friday at 12:00 -- 2 tickets sold</li>
    <li>SFS Bounty : Learn to Play Starfinder Friday at 12:00 -- 3 tickets sold for 12:00, 2 tickets for 14:00</li>
    <li>SFS Intro 2: For the Factions Saturday at 08:00 -- 2 tickets sold</li>
    <li>SFS Intro 1: The First Test Saturday at 19:00 -- 2 tickets sold</li>
    <li>SFS 5-10: Shadow of the Vault Lord Saturday at 19:00 -- 2 tickets sold</li>
    <li>SFS Bounty : Learn to Play Starfinder Sunday at 09:00 -- 5 tickets sold</li>
  </ul>

  <p>All the excitement will be for naught without the help of our volunteers; we will need <b>your</b> help to make
    this year a success.</p>

  <p>Volunteering for Con of the North requires a two-step process; first, register for Con of the North at
    <a href="https://tabletop.events/conventions/con-of-the-north-2023">their
      registration website</a>. When registering, make sure you register as a Judge, if you're both playing and
    volunteering, or as a Referee if you're only running games. The cost of a Judge badge for the convention is
    $40. While a Referee badge is only $2, be advised that if you register as a Referee but later register to play games
    at the convention, you will have to buy a full Judge badge at the convention site.</p>

  <p>Once you've registered for the convention, head to
    <a href="<%= event_url(@message.event) %>">the MNPOP registration app</a> and sign up for Con of the North 2023
    tables there. All of our scheduled tables are listed at the registration site for Pathfinder Society, and we track
    our table GMs there throughout the convention. Tables listed on the registration app are looking for GMs; these
    have already been submitted as events to Con of the North and uploaded to their registration site. If you would like
    to request a scenario not currently on the schedule, please contact <a href="mailto:contact@10klakesgaming.org">10,000
    Lakes Gaming</a> with the name of the scenario and the time slot you would like to run the scenario in; we will work
    with you and the Con of the North staff to update their registration site as well as ours.</p>

  <p>Thank you for volunteering! We cannot do this without you!</p>
  <p>Minnesota Paizo Organized Play</p>

  <hr>
  <div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
    <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>

  <%= render partial: "layouts/opt_out_email_footer" %>
</div>
</body>
</html>
