<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
  <p><b>Hello <%= @message.user&.name %>,</b></p>

  <p>There comes a time in a Minnesotan gamer's year when the distant sounds of dice rattling in the Scandinavian
    Ballroom
    at the Crown Plaza in Plymouth Minnesota reaches their ears! It is the time that they realize that Con of the North,
    the longest running games convention in Minnesota is coming soon!</p>

  <p>As you may know, we cannot put on these events without the help of our volunteers. We are still looking to fill
    over 100 GM tables.</p>

  <p>If you would like to volunteer as a GM, please take the time to log in to
    <a href="<%= event_url(@message.event) %>"><%= @message.event.name %> GM Registration</a>,
    volunteer for the event (which
    will not register you for the Con of the North convention itself), and select any games that you wish to GM. Note
    that there are some games that are not currently open to GM, as we've already uploaded a schedule to the Con of the
    North's registration site, and we'd like to fill these first. If you would like to GM a specific game not currently open to
    be selected as a GM, please contact us at <a href="mailto:contact@10klakesgaming.org">10,000 Lames Gaming</a>, and
    let us know what you'd like to run. We'll do our best to make this happen.</p>

  <p>Volunteer for as many slots as you would like, but please remember to register for
    <a href="https://tabletop.events/conventions/con-of-the-north-2023">Con of the North 2023</a> as a Game Master,
    which will  allow you to both play and GM. If you are doing nothing but volunteering, you can also sign up as a
    Referee, which gets you into the Con for only $2. However, if you decide to play a game with a referee badge
    (ex. if your table doesn't make and you're offered a game to play), you will have to purchase a judge badge at the convention.</p>

  <p>As a reminder, the cost of a 3-day badge is $30, but the price goes up to $40 after December 31. Game Masters can
    get a either a discount of $5 on their registration, or a CotN tee shirt, but only if you register before December 31.</p>

  <p>This event will be a "Premier Plus" event, allowing GMs and players to accrue additional ACP.
    MN-POP will also be providing all chronicles (likely through RPG Chronicles), and will be supplying water and
    throat lozenges to all table GMs.</p>

  <p>Thank you for volunteering! We cannot do this without you!</p>

  <hr>
  <div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
    <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>

  <%= render partial: "layouts/opt_out_email_footer" %>
</div>
</body>
</html>
