<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
  <h1 class="alert-success">Confirmation of Table GM Assignment Change</h1>
  <h2><%= @game_master.user_event.user.formal_name %>,</h2>
  <% if @adding %>
    Thank you for volunteering to be the GM for: <%= @game_master.table.long_name %> at <%= @event.name %>!
  <% else %>
    You are no longer assigned to GM:  <%= @game_master.table.long_name %> at <%= @event.name %>.
  <% end %>
  <hr>

  <h2 class="alert-primary">Your schedule at <%= @event.name %> as
    of <%= DateTime.now.localtime.to_formatted_s(:long) %></h2>
  <%# http://pfs-registration.herokuapp.com/events/8/user_events/433 %>
  <div>Please see <%= link_to "Your Registration", [@event, @game_master.user_event] %> for your up to the minute
    assignments.
  </div>

  <%

      user_event = @game_master.user_event
      event = user_event.event

      @table_sessions = user_event.all_tickets_by_session
      @sessions = user_event.sessions
  %>
  <div class="well">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Session</th>
        <th scope="col">Time</th>
        <th scope="col">Scenario</th>
        <th scope="col">Location</th>
        <th scope="col">Signup Type</th>
        <th scope="col">Payment Due?</th>
      </tr>
      </thead>
      <tbody>
      <% @sessions.each do |session| %>
        <% selection = @table_sessions[session] %>
        <tr>
          <td><%= session.name %></td>
          <td><%= session.timeslot %></td>
          <% if selection.nil? %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% else %>
            <td><%= selection.table.scenario.long_name %></td>
            <td>
              <%= selection.table.location %>
              <% if selection.is_a? GameMaster %>
                <% unless selection.table_number.blank? %>
                  (<%= selection.table_number.strip %>)
                <% end %>
              <% end %>
            </td>
            <% if selection.is_a? RegistrationTable %>
              <td>Player
                <div><%= link_to 'View Table Details', event_session_table_url(event, session, selection.table), target: "_blank"%></div></td>
              <td>
                <% unless selection.payment_ok? %>
                  <%= number_to_currency(selection.table.price) %>
                <% end %>
              </td>
            <% elsif selection.is_a? GameMaster %>
              <td>
                GM
                <div><%= link_to 'Edit Table Details', edit_event_session_table_game_master_url(event, session, selection.table, selection), target: "_blank" %></div>
              </td>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="alert-warning">If you need to drop a table that you have volunteered to GM, please reply to this email
    requesting to be removed. Convention organizers will attempt to find a replacement for you. We apologize for any
    inconvenience this may cause.
  </div>

  <hr>

  <h2>Volunteer Information</h2>
  <ul>
    <li>Even if you have volunteered previously, please read through this section thoroughly as instructions may have
      changed some from previous conventions. it anyway as some things have changed. If this is your first time
      volunteering, these guidelines will help answer your questions and guide you through this important part of Paizo
      Organized Play.
    </li>
    <li>As a volunteer, you are the eyes, ears, face, and voice of Paizo. We expect each of you to maintain a positive
      attitude, professional behavior, and good hygiene.
    </li>
    <% if event.in_person? %>
      <li>The Player Boon token rolls remain the same. 10% chance per token turned in, 5 tokens max per roll. Winners
        roll randomly on which boon received. GM boons can be claimed when turning in your first session reporting sheet.
      </li>
    <% end %>
    <% if event.online? %>
      <li>We will notify GMs on how we are handling boon rolls soon.</li>
    <% end %>
  </ul>
  <hr>

  <h2>Logistics:</h2>
  <% if event.online? %>
    <h3>For Online Tables</h3>
    <ul>
      <li>Each GM will need to create their Virtual Table Top and add invites to it their table (such as by clicking
        the "Edit Table Details" in the schedule above).</li>
      <li>Please have your VTT ready for player sign-in as soon as possible.</li>
      <li>Have appropriate tier pregens ready for your players, if there are any in tier.</li>
      <li>You will be assigned a room in our <%= link_to @event.chat_server, @event.chat_server_url %> chat server. You will need to use this as your voice channel.</li>
      <li>Please be at your VTT room and chat room at least 15 minutes prior to your game's start.</li>
      <li>Game Masters will be required to collect sign in information for their players so that they can report
        the games and create their chronicle sheets.</li>
      <li>Please use a separate sign-in form for each game.</li>
      <li><%= @event.name %> will be sending out sample sign-in forms for you to use.</li>
      <li>Games should be reported as soon as possible after the game completes.</li>
      <li><b>Chronicles must be sent to players as soon as possible, preferable within one hour.</b>
        This is so that players can play their characters in back-to-back slots.</li>
      <li><b>Do not leave your assigned table until HQ has released or reassigned you.</b></li>
    </ul>
  <% end %>
  <% if event.in_person? %>
    <h3>For In-Person Tables</h3>
    <ul>
      <li>Each GM is responsible to provide their own maps, miniatures, handouts, and scenario-specific pre-generated
        characters.
      </li>
      <li>Each GM is responsible for having a reliable copy of the scenario they are running. Power outlets are scarce
        in the room so GMs must have a backup option in case their computer or tablet runs out of power.
        For safety reasons, we cannot allow extension cords to be run across the room.
      </li>
      <li>Chronicles and session reporting sheets will be provided.</li>
      <li>The HQ has a supply of New Player Packets and pre-generated iconic characters.</li>
      <li><b>Do not leave your assigned room until HQ has released or reassigned you.</b> HQ may assign you to
        additional tasks.
      </li>
      <li>No personal items may be left in the HQ area.</li>
      <%# Find a way to to see if we are running a special from the app? %>
      <li>The convention room will be closed to all players 30 minutes prior to the the running of interactive specials
        for the GM pre-special meeting. All GM’s running the specials are expected to be at this meeting, and should
        report at least 30 minutes prior to the session start time. Please be on time, as we will be discussing
        signaling and the like.
      </li>
    </ul>
    <hr>
  <% end %>

  <p>Thank you for making <%= @event.name %> a success!</p>

  <hr>
  <p><%= @event.name %>, Minnesota Paizo Organized Play, and 10,000 Lakes Gaming</p>
</div>
</body>
</html>
