<html>
<head>
  <meta charset="utf-8">
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

  <!-- Bootstrap CSS -->
  <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"-->
  <!--        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
  <!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
  <!--          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
  <!--          crossorigin="anonymous"></script>-->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"-->
  <!--          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"-->
  <!--          crossorigin="anonymous"></script>-->
  <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"-->
  <!--          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"-->
  <!--          crossorigin="anonymous"></script>-->

  <%= stylesheet_link_tag 'application', media: 'screen, projection', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'print-application', media: 'print' %>
</head>
<body>

<div style="margin: 1em;">
  <h1>Welcome to <%= @event.name %>!</h1>
  <p><b><%= @event.name %></b> starts at <%= @event.formatted_start %>, and your schedule is listed below.</p>
  <p>Warning, this email is going to get long, but please take the time to read through all of the important
    information below!</p>
  <hr>
  <hr>
  <h3 class="alert-primary">Your schedule at <%= @event.name %> as
    of <%= DateTime.now.localtime.to_formatted_s(:long) %></h3>
  <div>Please see <%= link_to "Your Registration", [@event, @registration] %> for your up to the minute
    assignments.
  </div>
  <%= render partial: 'my_schedule', locals: { event: @event, user_event: @registration } %>


  <% if @registration.gamemaster? %>
    <div class="alert-warning">If you need to drop a table that you have volunteered to GM, please reply to this email
      requesting to be removed. Convention organizers will attempt to find a replacement for you, but there are no
      guarantees. If players have already signed up for your table, this would cause these players to lose their
      tickets.
    </div>
  <% end %>
  <% if @event.attendance_policy.present? %>
    <h3>Attendence Policy for the In Person Event</h3>
    <div class="bg-warning  text-policy"><%= @event.attendance_policy&.html_safe %></div>
  <% end %>

  <hr>

  <h3>What to Bring?</h3>
  <ol>
    <li>Your proof of COVID-19 vaccination (Digital or Physical)</li>
    <li>An ID (so we can verify your COVID-19 vaccination status/find your badge)</li>
    <li>Masks!</li>
    <li>Supply drive items – you get stars on your badge for in-game benefits!
      <a href="http://www.skalcon.org/2021/10/12/ways-to-fundraise-at-skalcon/">Items include food/toiletries items.</a>
    </li>
    <li>Cash (useful for cash bar, buying things from vendors)</li>
    <li>Your gaming gear</li>
  </ol>

  <h3>Where to go?</h3>
  <p><%= @event.name %> will be located at: <%= @event.location %></p>

  <p>Our convention will be downstairs; specifically the downstairs closer to the lounge/bar area. If you’re familiar
    with Con of the North, this is where we’ve had our rooms the last year in-person.</p>

  <h3>Check-in/Registration</h3>
  <p>The HQ desk near the entrance will check your COVID-19 vaccination status and give you a red/yellow/green
    wristband. These wristbands will indicate how much contact you’d like to have at our convention, as described
    above.</p>

  <p>Next, proceed to our inside HQ desk to handle the remainder of your registration activities, such as:</p>
  <ul>
    <li>Picking up your badge, if already registered
      Note: If you registered on or after 9/26/2022, HQ may need to print your badge separately.
    </li>
    <li>Receiving your printed schedule.
      Any changes made after 9/27/2022 may not be reflected on the printed schedule. You can use the online registration
      app to verify your current schedule.
    </li>
    <li>Dropping off supply drive items and receive stars</li>
    <li>Dropping off items for silent auction/shop</li>
  </ul>

  <hr>
  <h3>Mustering Games</h3>
  <p>Before each timeslot, line up for the musterer, usually near HQ. They will ask what table you are playing at, and
    direct you to the numbered table. The musterer will also fold/combine tables as needed, so don’t be surprised if
    there is some motion within the first 10-15 minutes of game time.</p>

  <p>If there are available slots at a guest table, they will also be announced near the end of mustering time.</p>

  <hr>
  <h3>Where & What To Eat</h3>
  <div>There will be no food allowed in the main convention space, except for medically required food. Drinks are
    allowed, but minimize time spent unmasked. There will be common areas outside the main convention space where you
    can eat, or you can take food back to your room.
  </div>

  <div>On Friday evening, there should be a pasta bar available at the hotel. Food is also available at the bar.
    Otherwise, the hotel will have items available for purchase to-go. In addition, there will be a cash bar located
    near our gaming space for drinks only
  </div>



  <hr>
  <% if @registration.player? %>
    <% if @event.online? %>
      <h2>Player Information for Online Games</h2>
      <p>Below are some helpful suggestions for making your online gaming experience more enjoyable.</p>
      <ul>
        <li>You should see links to all of your games on your schedule, both in this email, and on the registration
          site.
          On each of these pages you should see the following:
          <ul>
            <li>The type of Virutal Table Top (VTT) the GM is using. (such as Roll20 or Foundry)</li>
            <li>A link to their VTT, and the name of the game, if applicable. If you can, please sign in to the VTT
              as soon as possible, so that you can get your character into the game.<br>
              <strong>Note for Fantasy Grounds:</strong> You will need to download the demo or have a copy and then
              use
              the server alias to log in when the gm has the game up.
            </li>
            <li>A link to the GM's sign-in sheet. This replaces the physical sign in sheet we use in a face-to-face
              convention.
            </li>
            <li>The name of the discord voice and text channels that this game will be using on the
              <a class="ul" target="_blank" href="<%= @event.chat_server_url %>"><%= @event.chat_server %></a> chat
              server. Voice and text chanels will have the same name, and please report in to both by the start of
              your
              session.
            </li>
          </ul>
        </li>
        <li>If a GM does not have this information, please let headquarters know in the <code>#headquarters</code>
          channel
          of <a class="ul" target="_blank" href="<%= @event.chat_server_url %>"><%= @event.chat_server %></a></li>
        <li>GMs will have pregenerated iconic characters available for all games that are in tier for pregens.</li>
        <li>GMs will be emailing you your chronicles. However, they may not always be able to get it to you before the
          next session, but you will still be able to play your character.
        </li>
        <li>If you do not receive your chronicle by the end of the next (non-quest) session (example, you played
          FRI12,
          so by the end of the FRI19 session), please let headquarters know in the <code>#headquasters</code> chat
          channel
        </li>
        <li>Boons and gift vouchers.
          <ul>
            <li>Boons and vouchers will be randomly assigned by headquarters for each session.</li>
            <li>For PFS1 and Starfinder, 1 out of 10 players for a campaign in the sessions will win a boon.</li>
            <li>For PFS2, you will receive ACP, and we expect this to be at a "premier plus" level!</li>
            <li>Vouchers will be distributed at random between all players and GMs of a particular session.<br>
              In all cases, these will be emailed to the email that you have registered with on the application.
            </li>
            <li>If you need to have this updated, please reply to this email, asking for your email to be updated.
            </li>
            <li>We are still determining how we will be handling Charity Boons.</li>
          </ul>
        </li>
      </ul>
      <hr>
      <h2>Characters and Virtual Table Tops.</h2>
      <h3>Roll20</h3>
      <p>For Roll20, we are providing "character builder" games in Roll20.
        You can access these by going to the <code>#character-creation-stations</code> at
        <a class="ul" target="_blank" href="<%= @event.chat_server_url %>"><%= @event.chat_server %></a>
        and viewing the pinned messages. There should be plenty of blank character sheets for you to use, though you
        can ask for help in the channel. These are available now. We are asking all GMs to allow exports from your
        vault into their game. However, bear in mind, that not all GMs will have paid accounts, and if they do not,
        they
        will not be able to accept your premade character sheet.

      <h3>Fantasy Grounds</h3>
      <p>If you are looking to create a character on Fantasy Grounds, please @ <code>Aerine
        #8215</code> on any channel at
        <a class="ul" target="_blank" href="<%= @event.chat_server_url %>"><%= @event.chat_server %></a> and she will
        work with you to set up your character.</p>

      <h3>Foundry</h3>
      <p>We are still working with the GMs running on Foundry to set up times for character sheet building. If you are
        signed up for one of these tables, we will be sending you an additional email soon.</p>

      <h3>Google Slides or Docs</h3>
      <p>Typically GMs running on slides or docs will not be using any particular character sheet. However, please
        have
        your character sheet available in a digital format. </p>
      <hr>
    <% end %>
  <% end %>

  <% if @registration.gamemaster? %>
    <h2>Volunteer Information</h2>
    <ul>
      <li>Even if you have volunteered previously, please read through this section thoroughly as instructions may
        have
        changed some from previous conventions. it anyway as some things have changed. If this is your first time
        volunteering, these guidelines will help answer your questions and guide you through this important part of
        Paizo Organized Play.
      </li>
      <li>As a volunteer, you are the eyes, ears, face, and voice of the Organized Play Foundation. We expect each of
        you to maintain a positive attitude, professional behavior, and good hygiene.
      </li>
      <% if @event.in_person? %>
        <li>Player & GM Rewards:
          <ul>
            <li><b>PFS2 and SFS:</b> These campaigns use ACP, and we will be awarding them at a higher rate.</li>
            <li><b>PFS1 and ACG:</b> We have boons for these campaigns. HQ will be coming around to have each
              participant at the table roll a D20. On a 19-20 they will win a boon.
            </li>
          </ul>
        </li>
      <% end %>
      <% if @event.online? %>
        <li><%= @event.name %> will handle all boon and gift voucher rolls, and will be contacting the winners
          directly.
        </li>
      <% end %>
    </ul>
    <hr>
    <% if @event.online? %>
      <%# TODO: Update when needed %>
      <h2><a name="signin">Example Player Sign-in sheet</a></h2>
      <div>This example uses a google form. To protect player information, please do not use a spreadsheet that lists
        all
        players for all of your games. It is preferred that you use a form that only you can see the player
        information.
      </div>
      <div>SkålCon Online 2020's example
        <a target="_blank" class="ul"
           href="https://docs.google.com/forms/d/1ZCKJpBMGFfBTlEU7R3TemrcMCWfjfXuRrD61Co1Vwj4/edit?usp=sharing">Sign-in
          Form</a>
      </div>
      <h3>How To Use</h3>
      <ul>
        <li>You will need to make a copy by selecting the <span class="glyphicon glyphicon-option-vertical"></span>
          button in the upper right.
        </li>
        <li>Then select "Make a Copy" to copy into your google drive.</li>
        <li>Create a new copy for each of your games, changing the title appropriately.</li>
        <li>Click the purple "Send" button, and select the <span class="glyphicon glyphicon-link"></span> link button.
        </li>
        <li>Copy that URL into the "Sign In Form" for your table.</li>
      </ul>

      <h2>Reporting URL</h2>
      <div>Please report all games to
        <a href="<%= @event.reporting_url %>" target="_blank" class="ul"><%= @event.name %>'s session reporting
          form</a>
        immediately after your game is completed, so that HQ can get the games promptly reported.

        This URL will also be on each of your tables (either in the view or edit), as well as the event's main page.
      </div>
    <% end %>

    <h2>Logistics:</h2>
    <% if @event.online? %>
      <h3>For Online Tables</h3>
      <ul>
        <li>Each GM will need to create their Virtual Table Top and link to it on their table (such as by clicking
          the "Edit Table Details" in the schedule above).
        </li>
        <li>If you need to contact your table, there is now a "Email these players" link when you view or edit the
          table.
          With this, you can email your players by filling out the form.
        </li>
        <li>Please have your VTT ready for player sign-in as soon as possible.</li>
        <li>Game Masters will be required to collect sign in information for their players so that they can report
          the games and create their chronicle sheets.
        </li>
        <li>Please have your <a class="ul" href="#signin">sign-in sheet</a> ready for player sign-in as soon as
          possible.
        </li>
        <li>For privacy issues, please have a separate sign-in sheet for each game.</li>
        <li>Have appropriate tier pregens ready for your players, if there are any in tier.<br>
          Pregens can be found at the
          <a class="ul" href="https://docs.google.com/spreadsheets/d/1Nd52mCOniHmDwW1b7tcLUTYcI4uYoJ5idPHzcs2gCc0/edit?usp=sharing">GM
            Sharing Library</a>.This is maintained by online GM volunteers, and there are instructions.<br>
          If you have questions, please ask HQ in the <code>#support</code> channel at
          <a class="ul" target="_blank" href="<%= @event.chat_server_url %>"><%= @event.chat_server %></a>
        </li>
        <li>You will be assigned a room in our <%= link_to @event.chat_server, @event.chat_server_url %> chat server.
          You will need to use this as your voice channel.
        </li>
        <li>Please be at your VTT room and chat room at least 15 minutes prior to your game's start.</li>
        <li><b>Please use a separate sign-in form for each game.</b></li>
        <li><%= @event.name %> will be sending out sample sign-in forms for you to use.</li>
        <li>Games should be reported as soon as possible after the game completes through the form provided
          by <%= @event.name %> %>.
        </li>
        <li><b>Chronicles must be sent to players as soon as possible, preferable within one hour.</b><br>
          This is so that players can play their characters in back-to-back slots.
        </li>
        <li>
          <b>If your game does not fire, do not leave your VTT and voice/text channel until HQ has released or
            reassigned you.</b><br>
          HQ may assign you to additional tasks.
        </li>
      </ul>
    <% end %>

    <% if @event.in_person? %>
      <h3>For In-Person Tables</h3>
      <ul>
        <li>Each GM is responsible to provide their own maps, miniatures, handouts, and scenario-specific pre-generated
          characters.
        </li>
        <li>Each GM is responsible for having a reliable copy of the scenario they are running. Power outlets are scarce
          in the room so GMs must have a backup option in case their computer or tablet runs out of power.
          For safety reasons, we cannot allow extension cords to be run across the room.
        </li>
        <li>Chronicles and session reporting sheets will be provided.</li>
        <li>The HQ has a supply of New Player Packets and pre-generated iconic characters.</li>
        <li><b>If your game does not fire, do not leave your assigned table until HQ has released or reassigned you.</b>
          HQ may assign you to additional tasks.
        </li>
        <li>No personal items may be left in the HQ area.</li>
        <%# Find a way to to see if we are running a special from the app? %>
        <li>The convention room will be closed to all players 30 minutes prior to the the running of interactive
          specials for the GM pre-special meeting. All GM’s running the specials are expected to be at this meeting, and
          should report at least 30 minutes prior to the session start time. Please be on time, as we will be discussing
          signaling and the like.
        </li>
      </ul>
      <hr>


    <% end %>
  <% end %>

  <p>Thank you for making <%= @event.name %> a success!</p>

  <hr>
  <p><%= @event.name %>, Minnesota Paizo Organized Play, and 10,000 Lakes Gaming</p>
</div>
</body>
</html>
