<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
<p>You have registered for <%= @event.name %> - but have not yet paid! All participants, whether players, game masters,
  or headquarters staff, are required to pay for their registration.</p>

<p>There is a <%= number_to_currency(@event.prereg_price) %> registration cost for <%= @event.name %>
  <% if @event.early_bird_discount? %>,
      but after <%= @event.prereg_ends.localtime.to_formatted_s(:long_ordinal) %>
      the price will go up to <%= number_to_currency @event.onsite_price %>
  <% end %>. Payment allows you to sign up for games to play, including limited premium ticket tables with special
  guests.</p>

<p>To pay for <%= @event.name %>, please go to <%= link_to "#{@event.name}", @event %> and click on the "Pay With Card" button.
  If you are unable to pay with a credit card, please click on "Contact Us!" and select "I cannot pay with a credit card"
  to ask for other payment arrangements. A representative of <%= @event.name %> will be in touch with you.

<p>If you have already paid for your <%= @event.name %> registration, please disregard this message.</p>

<p>Thank you for making <%= @event.name %> a success!</p>

<hr>
<p><%= @event.name %>, Minneapolis-Saint Paul Pathfinder Lodge, and 10,000 Lakes Gaming</p>


<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
