<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">

  <%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
  <h1><%= @event.name %> Information</h1>
  <div class="alert alert-primary" role="alert"><big><strong><%= @user_event.user.formal_name %>,</strong></big><br>
    this email contains information pertaining to <%= @event.name %> that you might be interested in.
  </div>

  <div>ADD NAV HERE</div>

  <%# check that the event has been paid for. If not, give instructions on how to pay for event. %>
    <% unless false || @user_event.payment_ok? %>
    <div class="card">
      <h2 class="card-title">Payment reminder!</h2>
      <p class="card-text">You have registered for <%= @event.name %> - but have not yet paid! All participants, whether
        players, game
        masters, or headquarters staff, are required to pay for their registration.</p>

      <p class="card-text">There is a <%= number_to_currency(@event.prereg_price) %> registration cost
        for <%= @event.name %>
        <% if @event.early_bird_discount? %>,
          but after <%= @event.prereg_ends.localtime.to_formatted_s(:long_ordinal) %>
          the price will go up to <%= number_to_currency @event.onsite_price %>
        <% end %>. Payment allows you to sign up for games to play, including limited premium ticket tables with
        special guests.</p>

      <p class="card-text">To pay for <%= @event.name %>, please go to <%= link_to "#{@event.name}", @event %> and click
        on the "Pay
        With Card" button. If you are unable to pay with a credit card, please click on "Contact Us!" and select "I
        cannot pay with a credit card" to ask for other payment arrangements. A representative of <%= @event.name %>
        will be in touch with you.
      </p>
    </div>
  <% end %>

  <%# check for sessions, and registration -- if none are there, give instructions on how to get tickets for games. %>
  <% unless @user_event.vip %>
  <% if @user_event.registration_tables.empty? %>
  <div class="card">
    <h2 class="card-title">Table Signup Reminder!</h2>
    <p class="card-text">Currently, it appears that you have not signed up for any games! Seats are limited, and are
      filling fast,
      so please take the time to sign up for some games before all of tables you are interested are filled! This goes
      doubly so for our premium tables!</p>
    <p>So, please head over to <%= link_to "#{@event.name}", @event %> and sign up for some tables!</p>
  </div>
  <% end %>
  <% end %>

  <%# Note the VIP panel! %>
  <div class="card">
    <h2 class="card-title">VIP RPG Panel at SkålCon</h2>
    <div class="card-body">
      <div class="card-subtitle mb-2 text-muted">Friday, September 14, at 4:00PM at Fantasy Flight Games Center</div>
      <p class="card-text">Your paid admission to SkålCon 2018 gains you access to our first ever VIP RPG Panel at
        SkålCon 2018!
      </p>
      <div class="card-text">This year's panelists are:</div>
      <ul>
        <li>Tonya Woldridge, Organized Play Manager</li>
        <li>Thurston Hillman, Starfinder Society Developer</li>
        <li>Jenny Jarzabski, Author (Organized Play)</li>
        <li>Clinton Boomer, Author (Bloodlines and Black Magic)</li>
        <li>Jaye Sonia, Author(Bloodlines and Black Magic)</li>
      </ul>
      <p class="card-text">There will be plenty of time for Q&A at this panel, so come ready to have your mind
        blown!</p>
    </div>
  </div>

<%# Add reminder for donation drive! %>
  <div class="card">
    <h2 class="card-title">Donation Drive for Tubman!</h2>
    <div class="card-body">
      <p class="card-text">We will be running a supply drive for Tubman again this year! Please bring items as per
        <a href="https://tubman.org/file_download/b8f9d4f2-c099-4a98-b3f1-ebcb4bea9a5d">Tubman’s General Wish List
          guide</a>, which includes household supplies and certain non-perishable food items. Visit
        <a href="https://tubman.org/give-help/ways-to-donate/donate-goods.html?page=1">Tubman’s donation page</a> for
        additional details on what their organization is looking for. Each donation will receive a ‘star’ that will
        have in-game benefits during SkålCon! In addition, you can request a donation receipt for tax purposes if you
        so choose.</p>
      <p class="card-text">There will be in game benefits to bringing your donations, so please be generous!</p>
    </div>
  </div>
<%# other player information %>
  <div class="card">
  <h2 class="card-title">Other information</h2>
  </div>

  <hr>
  <h2 class="alert alert-primary">Your schedule at <%= @event.name %> as
    of <%= DateTime.now.localtime.to_formatted_s(:long) %></h2>
<%# http://pfs-registration.herokuapp.com/events/8/user_events/433 %>
  <div>Please see <%= link_to "Your Registration", [@event, @user_event] %> for your up to the minute assignments.</div>

  <%
    @sessions = @event.sessions
    @sessions = @sessions.sort

    @table_sessions = {}

    @sessions.each do |session|
      @table_sessions[session] = nil
    end

    @user_event.registration_tables.each do |reg_table|
      session                  = reg_table.table.session
      @table_sessions[session] = reg_table
    end
    @user_event.game_masters.each do |game_master|
      session                  = game_master.table.session
      @table_sessions[session] = game_master
    end
  %>
  <div class="well">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Session</th>
        <th scope="col">Time</th>
        <th scope="col">Scenario</th>
        <th scope="col">Location</th>
        <th scope="col">Signup Type</th>
        <th scope="col">Payment Due?</th>
      </tr>
      </thead>
      <tbody>
      <% @sessions.each do |session| %>
        <% selection = @table_sessions[session] %>
        <tr>
          <td><%= session.name %></td>
          <td><%= session.timeslot %></td>
          <% if selection.nil? %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% else %>
            <td><%= selection.table.scenario.long_name %></td>
            <td>
              <%= selection.table.location %>
              <% if selection.is_a? GameMaster %>
                <% unless selection.table_number.blank? %>
                  (<%= selection.table_number.strip %>)
                <% end %>
              <% end %>
            </td>
            <% if selection.is_a? RegistrationTable %>
              <td>Player</td>
              <td>
                <% unless selection.payment_ok? %>
                  <%= number_to_currency(selection.table.price) %>
                <% end %>
              </td>
            <% elsif selection.is_a? GameMaster %>
              <td>GM</td>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% if @user_event.gamemaster? %>
    <div class="alert-warning">If you need to drop a table that you have volunteered to GM, please reply to this
      email requesting to be removed. Convention organizers will attempt to find a replacement for you. We apologize for
      any inconvenience this may cause.
    </div>
    <hr>
    <h2>Volunteer Information</h2>
    <ul>
      <li>Even if you have volunteered previously, please read through this section thoroughly as instructions may
        have changed some from previous conventions. it anyway as some things have changed. If this is your first time
        volunteering, these guidelines will help answer your questions and guide you through this important part
        of Paizo Organized Play.
      </li>
      <li>As a volunteer, you are the eyes, ears, face, and voice of Paizo. We expect each of you to maintain a
        positive attitude, professional behavior, and good hygiene.
      </li>
      <li>The Player Boon token rolls remain the same. 10% chance per token turned in, 5 tokens max per roll.
        Winners roll randomly on which boon received. GM boons can be claimed when turning in your first session
        reporting sheet.
      </li>
    </ul>
    <hr>


    <h2>Game Master Logistics:</h2>
    <ul>
      <li>GMs will be required to collect tickets from their players. No player should be seated that has not gone
        through the Musterering.
      </li>
      <li>Each GM is responsible to provide their own maps, miniatures, handouts, and scenario-specific
        pre-generated characters (if your scenario requires them such as in Serpent's Ire).
      </li>
      <li>Each GM is responsible for having a reliable copy of the scenario they are running. Power outlets are
        scarce in the room so GMs must have a backup option in case their computer or tablet runs out of power.
        For safety reasons, we cannot allow extension cords to be run across the room.
      </li>
      <li>Chronicles and session reporting sheets will be provided.</li>
      <li>The HQ has a supply of New Player Packets and pre-generated iconic characters (this does not include
        scenario-specific pre-generated characters, such as in Serpent's Ire).
      </li>
      <li>Do not leave your assigned table until HQ has released or reassigned you. HQ may assign you to
        additional tasks.
      </li>
      <li>No personal items may be left in the HQ area.</li>
      <li>The convention room will be closed to all players 30 minutes prior to the the running of interactive
        specials for the GM pre-special meeting. All GM’s running the specials are expected to be at this meeting, and
        should report at least 30 minutes prior to the session start time. Please be on time, as we will be discussing
        signaling and the like.
      </li>
    </ul>
    <hr>
  <% end %>
  <p>Thank you for making <%= @event.name %> a success!</p>

  <hr>
  <p><%= @event.name %>, Minnesota Paizo Organized Play, and 10,000 Lakes Gaming</p>
</div>
</body>
</html>