<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
<p>Thank you for registering to attend <%= @event.name %>! Your contribution goes a long way towards
  making <%= @event.name %> the success it is and will continue to be!
</p>

<p>Currently, it appears that you have not signed up for any games! Seats are limited, and are filling fast, so please
  take the time to sign up for some games before all of tables you are interested are filled! This goes doubly so for
  our premium tables!</p>

<p>So, please head over to <%= link_to "#{@event.name}", @event %> and sign up for some tables!</p>

<p>If you have any questions, please ask. There is a handy "Contact Us!" button on the left sidebar to send us
  questions,feedback, and so on. </p>

<p>If you are interested, please volunteer to run a table or two! There is a handy button that will bring you to our
  "GM Volunteer Form" to do so! We still need GMs!</p>

<p>Thank you for making <%= @event.name %> a success!</p>

<hr>
<p><%= @event.name %>, 10,000 Lakes Gaming, and Minnesota Paizo Organized Play</p>


<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
