<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
  <p><%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></p>

  <h1>SkalCon Online Registration Is Officially Open!</h1>

  <p>It’s happening - SkalCon Online Registration is open!</p>

  <p>Just log onto the <%= link_to 'registration.skalcon.org', 'registration.skalcon.org' %>
    site to register for the event, taking place October 9th - 11th 2020! SkalCon Online has a suggested donation of
    $10.00, but you can choose your donation amount to be what you are comfortable with. As always, proceeds from
    SkalCon will go directly to Tubman.</p>

  <p>At this time, only people volunteering to GM can sign up for events on the schedule. Remember, GMs choose the
    Virtual Table Top system they would prefer to use - so don’t be afraid to GM! SkalCon organizers will offer support
    for setting up your games, as well.</p>

  <p>After GMs have some time to get signed up for their tables, we announce when player sign-ups will be turned on.
    However, you don’t have to wait until then to get registered for the convention and plan your schedule.</p>

  <p>Keep an eye out for our special guest tables! Our special guests this year include Organized Play Manager Tonya
    Wondridge, Starfinder Society Developer Thurston Hillman, Organized Play Associate Alex Speidel, and authors Kate
    Baker, Dennis Muldoon, Jenny Jarzabski, and Vanessa Hoskins.</p>

  <p>SkalCon Online will be coordinating using Discord, so be sure to join the
    <%= link_to '10,000 Lakes Gaming Discord', 'https://discord.gg/7m5PbZP' %> before the
    convention (and watch us build out our channel functionality in real time!)</p>

  <p>We look forward to virtual games with all of you!</p>

</div>
<hr>
<div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
  <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>
<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
