<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
  <p><%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></p>

  <p class="h3">Hello SkålCon Attendees!</p>

  <p>We have 3 important announcements for you all!</p>

  <ol>
    <li>There will be TWO conventions this year - <%= @event.name %> (in-person) and SkålCOnline 2022 (online)!
      <hr/>
      <div>
        <div><b><a href="<%= event_url(@event) %>"><%= @event.name %></a></b> - our standard in-person convention</div>
        <div><b>Dates:</b> <%= @event.timeslot %></div>
        <div><b>Location:</b> <%= @event.location %></div>
        <div><b>Registration:</b> <%= number_to_currency(@event.prereg_price) %>
          (after <%= @event.formatted_prereg_ends %> it will be <%= number_to_currency @event.onsite_price %>)
        </div>
      </div>

      <hr/>

      <div>
        <div><b>SkålCOnline 2022:</b> a new, online only convention similar to our 2020 event</div>
        <div><b>Dates:</b> November 11th-13th 2022</div>
        <div><b>Location:</b> Online in our discord/various virtual tabletop</div>
        <div><b>Registration:</b> Suggested $10 registration</div>
      </div>
      <hr/>
      <div>Registration isn’t available (yet), but be sure to save these dates to your calendar!</div>
      <hr/>
    </li>
    <li><b>The hotel block is available for <%= @event.name %>!</b> Reserve your hotel room at the
      <a href="https://bit.ly/3zAOSCk">Crowne Plaza Minneapolis West</a>. Be sure to ‘Change Search’ to modify
      the dates/number of people for your stay at the hotel.
      <hr/>
    </li>

    <li><b>For any Pathfinder First Edition GMs & players</b> - we need your input! Please fill out
      <a href="https://forms.gle/B5NUxPmY9YtTLZPY7">this survey</a> to provide input on what games you’d like to have
      scheduled at <%= @event.name %>, and how we run PF1 for our community!
      <hr/>
    </li>
  </ol>


  <p>That’s all the announcements for now! We’ll inform you all when registration is open via email, but you can keep
    up-to-date via http://www.skalcon.org/ or https://www.facebook.com/pfsskalcon.
  </p>

  <p>Minnesota Paizo Organized Play (MN-POP) and 10,000 Lakes Gaming</p>

  <hr>
  <div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
    <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>

  <%= render partial: "layouts/opt_out_email_footer" %>
</div>
</body>
</html>
