<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>

<body>`
<div class="container-fluid">
  <p><%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></p>

  <h1><%= @event.name %> !</h1>

  <p>It’s almost time for the main event - <%= @event.name %> is happening October 29th-31st! (Spooky!) With the convention less than two weeks away, our pre-registration will close on <%= @event.formatted_prereg_ends %>. Head on over to the registration website if you haven’t registered yet for either in-person or online games. <a href="<%= event_url(@event) %>"><%= @event.name %> Registration</a>. The at-con pricing will be <%= number_to_currency @event.onsite_price %> instead of the <%= number_to_currency(@event.prereg_price) %> pricing pre-registration is. Remember, as always, your registration fee helps to support our charity, Tubman!</p>

  <p>Once you’re registered, don’t forget to sign up for games! There are plenty of tables with GMs waiting to run a game for you (and your friends? :) )  If you’re procrastinating on setting up your schedule, just take a minute right now and pick out a few tables. We are running the PFS2 3-99 multi-table special on Friday night and the SFS 3-99 multi-table special on Friday night. Both are offered in person and online!</p>

  <p>We’ll have a full guide on what to expect when you arrive at SkalCon posted on our website (skalcon.org) next week - but don’t forget to bring some physical items to donate to Tubman and/or a local food bank. Information on what Tubman is accepting for donations is here: https://www.tubman.org/give-help/ways-to-give/donate-goods.html We’ll also accept items for our silent auction at the convention if you have something to donate on that front.</p>

  <p>And one last reminder for our in-person attendees that the COVID-19 policy is in effect. You can read the full policy on the  <a target="_blank" href="http://www.skalcon.org/covid-19-statement/">SkålCon website</a>.  So don’t forget to bring a copy of your vaccination card or similar vaccine record if you are playing in-person.</p>

  <hr>
  <div class="h3">COVID-19 Policy</div>

  <p>Our COVID-19 policy applies to all who are in our hotel conference rooms at SkålCon ‘21. “Attendees” in this policy
    refers to those who will be in the hotel conference rooms.</p>

  <ol>
    <li>Attendees must be fully vaccinated against COVID-19.
      <ol style="list-style-type: lower-alpha">
        <li><b>This policy is not subject to change.</b></li>
        <li>“Fully vaccinated” means you are at least 2 weeks past the final dose of the vaccine you received.</li>
        <li>Proof of vaccination must be presented at HQ when registering or picking up your badge at the
          convention.
          <ol style="list-style-type: lower-roman">
            <li>Allowable formats include: A photocopy of your CDC vaccination card; a high-quality photo/scan
              of your CDC vaccination card; an international equivalent; printed record of your vaccination from a
              Doctor’s office, etc.
            </li>
            <li>If you forget your vaccination record, we will be forced to assume you are not vaccinated and
              cannot participate at in-person convention activities.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Masks will be required at the convention.
    </li>
    <li>Attendees are asked not to eat food while in the convention space, due to masking. Drinks are allowed.</li>
    <li>Attendees are asked not to attend if they are ill.</li>
    <li>Attendees are asked to respect social distancing when not at their tables.</li>
    <li>Attendees can wear provided wristbands to represent their comfort level when it comes to physical contact.
      <ol style="list-style-type: lower-alpha">
        <li>Red &#8211; do not touch, maintain distance</li>
        <li>Yellow &#8211; some contact allowed, such as elbow bumps instead of handshakes</li>
        <li>Green &#8211; hugs and handshakes are allowed, with consent</li>
      </ol>
    </li>
  </ol>

  <p>View this policy on the <a target="_blank" href="http://www.skalcon.org/covid-19-statement/">SkålCon website</a>.
  </p>
  <hr>

  <p>The online portion of SkålCon will be coordinating using Discord, so be sure to join the
    <%= link_to '10,000 Lakes Gaming Discord', 'https://discord.gg/7m5PbZP' %> before the
    convention.</p>

  <p>Let’s have some fun raising money for charity!</p>
</div>
<hr>
<div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
  <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>
<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
