<%= @event.name %> Registration Is Officially Open!

It’s happening - <%= @event.name %> Registration is open!

Just log onto the <%= event_url(@event) %> for <%= @event.name %> Registration</a>
site to register for the event, taking place <%= @event.timeslot %>!
<%= @event.name %> has an early bird ticket price of <%= number_to_currency(@event.prereg_price) %> (after <%= @event.formatted_prereg_ends %> it will
be <%= number_to_currency @event.onsite_price %>). As always, proceeds from SkalCon will go directly to Tubman.

Additionally, <%= @event.name %> is offering T-shirts for a pre-order price of <%= number_to_currency(@event.tee_shirt_price) %>. T-shirt pre-orders
end <%= @event.tee_shirt_end.to_formatted_s(:long) %>. If you not attending in person, you will need to arrange for shipping or
pickup of your shirt. See https://www.usps.com/ship/priority-mail.htm for prices on flat-rate boxes.
A small number of shirts will be available onsite.

Keep an eye out for our special guest tables! Our special guests this year include Paizo Director of Community
Tonya Wondridge, Organized Play Coordinator Alex Speidel, and authors include Kate Baker, Dennis Muldoon,
Nate Wright, Scott D Young, Jessica Redekop, Hilary Moon Murphey, Jacob W. Michaels, and Vanessa Hoskins.

GM signups are now open, and GMs are able to sign up for one player table for every table that they are running!

General table sign ups will open on Wednesday, September 15 at noon.


COVID-19 Policy

Our COVID-19 policy applies to all who are in our hotel conference rooms at SkålCon ‘21.
“Attendees” in this policy refers to those who will be in the hotel conference rooms.

1. Attendees must be fully vaccinated against COVID-19.
   a. This policy is not subject to change.
   b. “Fully vaccinated” means you are at least 2 weeks past the final dose of the vaccine you received.
   c. Proof of vaccination must be presented at HQ when registering or picking up your badge at the convention.
     i. Allowable formats include:
       - A photocopy of your CDC vaccination card;
       - a high-quality photo/scan of your CDC vaccination card;
       - an international equivalent;
       - printed record of your vaccination from a Doctor’s office, etc.
     ii. If you forget your vaccination record, we will be forced to assume you are not vaccinated and cannot participate at in-person convention activities.

2. Masks will be required at the convention. This policy may be relaxed closer to the date depending on CDC, state, and local government guidelines.

3. Attendees are asked not to eat food while in the convention space, due to masking. Drinks are allowed.
4. Attendees are asked not to attend if they are ill.

5. Attendees are asked to respect social distancing when not at their tables.

6. Attendees can wear provided wristbands to represent their comfort level when it comes to physical contact.
  - Red – do not touch, maintain distance
  - Yellow – some contact allowed, such as elbow bumps instead of handshakes
  - Green – hugs and handshakes are allowed, with consent

View this policy at http://www.skalcon.org/covid-19-statement.


The online portion of SkålCon will be coordinating using Discord, so be sure to join the
https://discord.gg/7m5PbZP before the convention.

We look forward to in person and virtual games with all of you!
