<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>

<body>`
<div class="container-fluid">
  <!--  <p><%#= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></p>-->

  <p>Dear Pathfinders and Starfinders,</p>

  <p>Con of the North is February 18-20 2022, and we're looking for GM volunteers!
    We are running over 90 tables over the weekend, so we appreciate you taking the time to GM for us.</p>

  <p>Con of the North requires proof of COVID-19 vaccination and masks.</p>

  <p>To register for Con of the North  itself, please go to the
    <a href="https://tabletop.events/conventions/con-of-the-north-2022">Con of the North registration site</a>:
    Early bird registration price ends Dec 31st. There is a "referee only" badge for $2, but but remember this will
    not allow you to play should your table fold.</p>

  <p>To sign-up as to GM, please register at <a href="<%= event_url(@event) %>"><%= @event.name %> registration application</a>
    and select the games that you want to run!</p>


  <p>We'll be running the PFS2 special 3-99 <i>Fate in the Future</i> Saturday afternoon, and the linked SFS special 3-99
    <i>Perils of the Past</i> on Saturday evening! Remember these are replayable, but only in a different tier. So if you played
    <i>Fate in the Future</i> at SkålCon at level 5, you can play it again with a level 1-4 character! The same is true for
    <i>Perils of the Past</i>! Play them both for the full story!</p>

  <p>Also see:
    <a href="https://docs.google.com/spreadsheets/d/1BTOW4aNy0gK6mStIknWOdgCsY0QrwljUIh5_d65-rCo/edit?usp=sharing">the
      full MN-POP Con of the North schedule in spreadsheet format</a>.</p>

  <p>Let us know if you have any questions, and thanks for making our local conventions great!</p>

  <p>Thanks!</p>

  <p>Minnesota Paizo Organized Play (MN-POP) and 10,000 Lakes Gaming</p>
</div>
<hr>
<div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
  <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>
<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
