<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
  <p><%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></p>

  <h1><%= @event.name %> !</h1>

  <p><%= @event.name %> is fast approaching, and there are some important dates you do not want to miss!!</p>

  <p>First - the hotel block ends on October 8th! Please use this link to make your reservation:
    <a href="https://www.ihg.com/crowneplaza/hotels/us/en/find-hotels/hotel/rooms?qDest=3131%20Campus%20Drive,%20Plymouth,%20MN,%20US&qCiMy=92021&qCiD=29&qCoMy=92021&qCoD=31&qAdlt=1&qChld=0&qRms=1&qRtP=6CBARC&qIta=99801505&qGrpCd=Z6G&qSlH=MSPPM&qAkamaiCC=US&qSrt=sBR&qBrs=re.ic.in.vn.cp.vx.hi.ex.rs.cv.sb.cw.ma.ul.ki.va.ii.sp.nd.ct.sx.we&qAAR=6CBARC&qWch=0&qSmP=1&setPMCookies=true&qRad=30&qRdU=mi&srb_u=1&qSHBrC=CP&icdv=99801505"><%= @event.name %>
      Room Block at Crown Plaza</a>.
    If you already have a room, and it is not in the room block, we would appreciate it if you changed to one in the
    block. You'll get a great price for the room if you do!</p>

  <p>Second - pre-registration for <%= @event.name %> ends <%= @event.formatted_prereg_ends %>. If you would like to
    attend SkalCon and haven’t registered yet, please do so at
    <a href="<%= event_url(@event) %>"><%= @event.name %> Registration</a>.
    The price is currently <%= number_to_currency(@event.prereg_price) %>, but will go up
    to <%= number_to_currency @event.onsite_price %>
    if you wait to register at the convention. Remember that your registration counts for both in-person and online
    games. As always, proceeds from <%= @event.name %> will go directly to
    <a href="http://www.tubman.org" target="_blank">Tubman</a>.</p>

  <hr>
  <div class="h3">COVID-19 Policy</div>

  <p>Our COVID-19 policy applies to all who are in our hotel conference rooms at SkålCon ‘21. “Attendees” in this policy
    refers to those who will be in the hotel conference rooms.</p>

  <ol>
    <li>Attendees must be fully vaccinated against COVID-19.
      <ol style="list-style-type: lower-alpha">
        <li><b>This policy is not subject to change.</b></li>
        <li>“Fully vaccinated” means you are at least 2 weeks past the final dose of the vaccine you received.</li>
        <li>Proof of vaccination must be presented at HQ when registering or picking up your badge at the
          convention.
          <ol style="list-style-type: lower-roman">
            <li>Allowable formats include: A photocopy of your CDC vaccination card; a high-quality photo/scan
              of your CDC vaccination card; an international equivalent; printed record of your vaccination from a
              Doctor’s office, etc.
            </li>
            <li>If you forget your vaccination record, we will be forced to assume you are not vaccinated and
              cannot participate at in-person convention activities.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Masks will be required at the convention.
    </li>
    <li>Attendees are asked not to eat food while in the convention space, due to masking. Drinks are allowed.</li>
    <li>Attendees are asked not to attend if they are ill.</li>
    <li>Attendees are asked to respect social distancing when not at their tables.</li>
    <li>Attendees can wear provided wristbands to represent their comfort level when it comes to physical contact.
      <ol style="list-style-type: lower-alpha">
        <li>Red &#8211; do not touch, maintain distance</li>
        <li>Yellow &#8211; some contact allowed, such as elbow bumps instead of handshakes</li>
        <li>Green &#8211; hugs and handshakes are allowed, with consent</li>
      </ol>
    </li>
  </ol>

  <p>View this policy on the <a target="_blank" href="http://www.skalcon.org/covid-19-statement/">SkålCon website</a>.
  </p>
  <hr>

  <p>The online portion of SkålCon will be coordinating using Discord, so be sure to join the
    <%= link_to '10,000 Lakes Gaming Discord', 'https://discord.gg/7m5PbZP' %> before the
    convention.</p>

  <p>Let’s have some fun raising money for charity!</p>
</div>
<hr>
<div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
  <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>
<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
