<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<h2><%= @session.name %>
  <small><%= @session.start.strftime("%a %H:%M") %> to <%= @session.end.strftime("%a %H:%M") %></small>
</h2>
<h3>Players RSVPed for: <%= @table.long_name %></h3>

<hr>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Player</th>
    <th>Email</th>
    <th>PFS Number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @registration_tables.each do |registration_table| %>
      <tr>
        <% if registration_table.user_event.nil? %>
            <% user = User.new %>
        <% else %>
            <% user = registration_table.user_event.user %>
        <% end %>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.pfs_number %>
        </td>
        <td><%= link_to 'Show', [@event, @session, @table, registration_table] %></td>
        <% if admin? %>
            <td><%= link_to 'Edit', edit_event_session_table_registration_table_path(@event, @session, @table, registration_table) %></td>
            <td><%= link_to 'Delete', [@event, @session, @table, registration_table], method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New RSVP', new_event_session_table_registration_table_path(@event, @session, @table) %>
