<% if @table.premium? %>
    <h2>Buy ticket for <%= @table.long_name %></h2>
    <div class="well">
      <div class="text-warning bg-warning">
        <p><%= @table.long_name %> is a Premium table, GM'd by our convention VIPs. As such, there is a
          ticket price of <%= number_to_currency @table.price %>, with proceeds going to charity.</p>
        <p>Your sign up to this Premium table will be held for one hour while awaiting payment. If the payment is not received
          within this timeframe, this table sign up will be canceled. </p>
        <p class="text-danger lead">Payments made for Premium Tables are <strong>non-refundable.</strong> Please take this
          into consideration before you make your payment.</p>
        <p>If you would prefer to not pay for this table, please click 'Back' below.</p>
      </div>
    </div>
<% else %>
    <h2>Sign Up for <%= @table.long_name %></h2>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', event_path(@event) %>
