<% if @table.premium? %>
    <h2>Buy ticket for <%= @table.long_name %></h2>
    <div class="well">
      <div class="text-warning bg-warning">
        <p><%= @table.long_name %> is a Premium table. As such, there is a ticket price
          of <%= number_to_currency @table.price %> for this table (proceeds to go to charity). We will
          hold your seat for one hour for your payment. If we do not receive payment for this in one hour, your RSVP to the
          table will be canceled so that another person has the chance for this table. </p>
        <p> Premium tables are typically GMed by VIPs, such as their author, Paizo developers, or the like.</p>
        <p class="text-danger lead">Payments made for Premium Tables are <strong>non-refundable.</strong> Please take this
          into consideration before you make your payment.</p>
        <p>If you would prefer to not pay for this table, please click 'Back' below.</p>
      </div>
    </div>
<% else %>
    <h2>RSVP for <%= @table.long_name %></h2>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', event_path(@event) %>
