<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @registration_table.table.session.name %>: <%= @registration_table.table.scenario.long_name %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @registration_table.user_event.event.name %>
</p>

<%= link_to 'Edit', edit_event_session_table_registration_table_path(@event, @session, @table, @registration_table) %> |
<%= link_to 'Back', registration_tables_path %>
