<%= form_for([@event, @session, @table, @game_master]) do |f| %>
  <% if @game_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_master.errors.count, "error") %> prohibited this game_master from being saved:</h2>

      <ul>
        <% @game_master.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <%= f.hidden_field :table_id, :value => @table.id %>


  <%# this needs to be a dropdown of registered users -- which can be found from the user_events %>
  <% if admin? %>
    <div class="field">
      <%= f.label :table_number %>
      <div class="small">This is the exact table number/location for this GM.</div>
      <%= f.text_field :table_number %>
    </div>

    <div><%= @game_master.user_event.user_id %></div>

    <div class="field">
      <%= f.label :user_event_id, "Game Master" %>
      <% if @game_master.user_event
           gm_id = @game_master.user_event.id
         else
           gm_id = 0
         end %>
      <div><%= gm_id %></div>
      <% @possible_gms.each do |gm| %>
        <div><%= gm.id %>: <%= gm.user.name %></div>
      <% end %>

      <%# have to make user_event_id required. %>
      <%= f.select :user_event_id, options_for_select(@possible_gms.map {|user_event| [user_event.user.name, user_event.id]}.to_h, gm_id), include_blank: 'Select User...' %>
    </div>

    <hr>
    <div class="actions">
      <%= f.submit "Add GM to Table", :class => 'btn btn-warning' %>
    </div>
  <% else %>

    <div class="actions">
      <%= f.submit "Add me as GM to Table", :class => 'btn btn-warning' %>
    </div>
  <% end %>
<% end %>
