<p id="notice"><%= notice %></p>

<h1>Game Masters for <%= @table.session.name %>: <%= @table.scenario.name %></h1>

<table width="100%">
  <thead>
  <tr>
    <th>GM</th>
    <th>Table</th>
    <th>Sign In Sheet</th>
    <th colspan="3" width="1%"></th>
  </tr>
  </thead>

  <tbody>
  <% @game_masters.each do |game_master| %>
    <tr>
      <td>
        <% unless game_master.user_event.nil? %>
          <%= game_master.user_event.user.name %>
        <% end %>
      </td>
      <td><%= game_master.table_number %></td>
      <td>
        <% if game_master.sign_in_url.present? %>
          <a class="ul" target="_blank" href="<%= game_master&.sign_in_url %>">Sign-In Sheet</a>
        <% else %>
          No Sign-in Sheet
        <% end %>
      </td>
      <td><%= link_to 'Show', [@event, @session, @table, game_master], :class => 'btn btn-success' %></td>
      <td><%= link_to 'Edit', edit_event_session_table_game_master_path(@event, @session, @table, game_master), :class => 'btn btn-primary' %></td>
      <td><%= button_to 'Remove', [@event, @session, @table, game_master], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Add Game master', new_event_session_table_game_master_path(@event, @session, @table), :class => 'btn btn-warning' %>
