<div class="page-header">
  <h1><%= @event.name %></h1>
  <h2><%= @session.name %>
    <small><%= @session.timeslot %></small>
  </h2>
  <h3><%= @table.long_name %></h3>
</div>
<h4>Add GM to Table</h4>
<%= render 'form' %>

<h4>Current Players in session.</h4>
<div class="well">
  <button data-toggle="collapse" data-target="#players" class="btn btn-info">Show</button>
  <div id="players" class="collapse">
    <div class="row">
      <div class="col-md-2 label label-default">Name</div>
      <div class="col-md-3 label label-default">Email</div>
      <div class="col-md-2 label label-default">PFS Number</div>
      <% if admin? %>
          <div class="col-md-2 label label-default">Admin</div>
      <% end %>
    </div>
    <% @session.players.each do |player| %>
        <div class="row">
          <div class="col-md-2"><%= player.name %></div>
          <div class="col-md-3"><%= player.email %></div>
          <div class="col-md-2"><%= player.pfs_number %></div>
          <% if admin? %>
              <% # find the reg table.
                 @table.registration_tables.each do |reg_table| %>
                  <% if reg_table.user_event.user == player %>
                      <div class="col-md-2">
                        <%= button_to 'Remove from Table', [@event, @session, @table, reg_table], method: :delete, data: {confirm: "Are you sure you want to remove #{player.long_name} from #{@table.scenario.long_name}?"}, :class => "formButton" %>
                      </div>
                  <% end %>
              <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<h4>Current GMs in session.</h4>
<div class="well">
  <div>This table current has <span class="badge"><%= @table.game_masters.size %></span> out of
    <span class="badge"><%= @table.gms_needed %></span> game masters.
  </div>
  <div>
    <button data-toggle="collapse" data-target="#gamemasters" class="btn btn-info">Current Game Masters</button>
  </div>
  <div id="gamemasters" class="collapse">
    <%#  header row %>
    <div class="row">
      <div class="col-md-2 label label-default">Name</div>
      <div class="col-md-3 label label-default">Email</div>
      <div class="col-md-2 label label-default">PFS Number</div>
      <% if admin? %>
          <div class="col-md-2 label label-default">Admin</div>
      <% end %>
    </div>
    <% @table.game_masters.each do |game_master| %>
        <% gm = game_master.user_event.user %>
        <div class="row">
          <div class="col-md-2"><%= gm.name %></div>
          <div class="col-md-3"><%= gm.email %></div>
          <div class="col-md-2"><%= gm.pfs_number %></div>
          <% if admin? %>
              <div class="col-md-2"><%= button_to 'Remove from Table', [@event, @session, @table, game_master], method: :delete, data: {confirm: "Are you sure you want to remove #{gm.long_name} as a GM from #{@table.scenario.long_name}?"}, :class => "formButton" %></div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back', event_session_table_game_masters_path %>
