<p id="notice"><%= notice %></p>

<!-- breadcrumbs -->
<ol class="breadcrumb">
  <li><%= link_to "#{@event.name}", event_path(@event) %></li>
  <li><%= link_to "#{@session.long_name}", event_session_path(@event, @session) %></li>
  <li><%= link_to "#{@table.long_name}", event_session_table_path(@event, @session, @table) %></li>
  <li>Game Master Information</li>
</ol>


<div class="page-header">
  <h1><%= @event.name %></h1>
  <h2><%= @session.name %>
    <small><%= @session.timeslot %></small>
  </h2>
  <h3><%= @table.long_name %></h3>
</div>

<% player = @game_master&.user_event&.user %>
<%#
table info
table number
session ?
%>
<h4>Table Information</h4>
<div class="panel panel-padded" style="border: solid thin black;">
  <div class="row">
    <div class="col-md-2 col-sm-3"><strong>Table Location:</strong></div>
    <div class="col-md-6 col-sm-5"><%= @table.location %></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3"><strong>Table Information:</strong></div>
    <div class="col-md-6 col-sm-5">Put stuff here</div>
  </div>
</div>

<h4>Game Master's Information</h4>
<div class="panel panel-padded" style="border: solid thin black;">
  <div class="row">
    <div class="col-md-2 col-sm-3"><strong>Game Master:</strong></div>
    <div class="col-md-6 col-sm-5"><%= player.formal_name %></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3"><strong>Email:</strong></div>
    <div class="col-md-6 col-sm-5"><%= player.email %></div>
  </div>
</div>


<h4>Online Game Information</h4>
<div class="panel panel-padded" style="border: solid thin black;">
  <div class="row">
    <div class="col-md-2 col-sm-3"><strong>Chat Server:</strong></div>
    <%# create the link for this %>
    <div class="col-md-6 col-sm-5"><%= @event.chat_server %></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3"><strong>Chat Room:</strong></div>
    <%# create the link for this %>
    <div class="col-md-6 col-sm-5">Table Chatroom</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3"><strong>VTT Type:</strong></div>
    <div class="col-md-6 col-sm-5">Roll20</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3"><strong>VTT Link:</strong></div>
    <%# TODO: Link from name and URL %>
    <div class="col-md-6 col-sm-5"><a target="_blank" href="">Roll20</a></div>
  </div>
</div>




<hr>
<%= link_to 'Edit', edit_event_session_table_game_master_path(@event, @session, @table, @game_master) %> |
<%= link_to 'Back', event_session_table_game_masters_path %>
