<% if @table.disabled? %>
    <div class="text-danger"><span class="glyphicon glyphicon-asterisk"></span>Sign Ups are disabled for this table.
    </div>
<% end %>
<% if @scenario.evergreen? %>
    <div class="text-success">This is an evergreen scenario.</div>
<% end %>
<% if @scenario.pregen_only? %>
    <div class="text-primary">This is a pregenerated character only scenario.</div>
<% end %>
<% if @scenario.hard_mode %>
    <div class="text-danger">This scenario has an optional hard mode.</div>
<% end %>
<% if @scenario.retired? %>
    <div class="text-warning">This is scenario has been retired.</div>
<% end %>
<% if @table.raffle? %>
    <div class="text-warning">This is a raffle table (no preregistration).</div>
<% end %>
<% if @table.core? %>
    <div class="text-warning">This is a Core Campaign table.</div>
<% end %>
<% if @table.non_pfs? %>
    <div class="text-danger">This table is <strong>not</strong> being run for organized play credit.</div>
<% end %>
<% if @table.premium? %>
    <div class="text-warning">This is a premium table, with a cost of <%= number_to_currency(@table.price) %>
      <% if @table.early_bird_discount? %>,
          rising to <%= number_to_currency @table.onsite_price %>
          after <%= @table.prereg_ends.localtime.to_formatted_s(:short) %>
      <% end %>.
    </div>
<% end %>


<% unless @table.information.blank? %>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#table_<%= @table.id %>_info">Extra
      Information
    </button>

    <!-- Modal -->
    <div id="table_<%= @table.id %>_info" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= @table.long_name %> Information</h4>
          </div>
          <div class="modal-body">
            <p><%= @table.information %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% end %>