<div class="page-header">
  <h1><%= @event.name %></h1>
  <h2><%= @session.name %>
    <small><%= @session.timeslot %></small>
  </h2>
  <h3><%= @table.long_name %></h3>
</div>
<h4>Edit Table for <%= @session.name %></h4>

<%= render 'form' %>

<%= link_to 'Show', [@event, @session, @table], :class => 'btn btn-info' %>
<%= link_to 'Back', event_session_tables_path, :class => 'btn btn-success' %>
