<div>
  <h2>Table Details</h2>
  <div class="panel ">
    <dl class="dl-horizontal">
      <dt class="head">Event:</dt>
      <dd class="head text-info"><%= @event.name %></dd>
      <dt class="head">Session:</dt>
      <dd class="head text-info"><%= @session.name %></dd>
      <dt class="head">Game:</dt>
      <dd class="head text-info"><%= @table.long_name %></dd>
      <% if @table.location.present? && !@table.online? %>
        <dt class="head">Location:</dt>
        <dd class="head text-info"><%= @table.location %></dd>
      <% end %>
    </dl>
  </div>

  <% if @table.online? %>
    <h3>Online Game Details</h3>
    <div class="well">
      <dl class="dl-horizontal">
        <dt class="head"><abbr title="Virtual Table Top">VTT</abbr></dt>
        <dd class="head text-info"><%= nil %></dd>
        <dt class="head">VT:</dt>
        <dd class="head text-info"><a class="ul" target="_blank" href="http://www.roll20.net">TBS</a></dd>
        <dt class="head">Event Chat Server:</dt>
        <dd class="head text-info">
          <a class="ul" target="_blank" href="<%= @table.vtt_url %>"><%= @table.vtt_name %></a></dd>
        <dt class="head">Game Chat Room:</dt>
        <dd class="head text-info"><%= @table.location %></dd>
      </dl>
    </div>
  <% end %>
</div>
<h2>Edit Table for <%= @session.name %></h2>

<%= render 'form' %>

<%= link_to 'Show', [@event, @session, @table], :class => 'btn btn-info' %>
<%= link_to 'Back', event_session_tables_path, :class => 'btn btn-success' %>
