<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<h2>
  <%= @session.name %>
  <small><%= @session.timeslot %></small>
</h2>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Location</th>
    <th>Online?</th>
    <th>Scenario</th>
    <th width="1%">Players</th>
    <th colspan="2">GMs</th>

  </tr>
  </thead>

  <tbody>
  <% @tables.each do |table| %>
    <tr>
      <td>
        <%= table.location %>
        <% unless table.gm_table_assignments.blank? %>
          (<%= table.gm_table_assignments %>)
        <% end %>
      </td>
      <td>
        <%= yes_no table.online? %>
      </td>
      <td>
        <%= table.scenario.long_name %>
        <span class="badge"><%= table.scenario.tier %></span>
        <% if table.core? %>
          <span class="badge badge-core">Core</span>
        <% end %>
        <% if table.core? %>
          <span class="badge badge-non-pfs">Non-PFS</span>
        <% end %>
        <% if table.raffle? %>
          <span class="badge badge-raffle">Raffle</span>
        <% end %>
        <% if table.scenario.hard_mode? %>
          <span class="badge badge-hardmode"><small>Hard Mode</small></span>
        <% end %>
        <% if table.scenario.pregen_only? %>
          <span class="badge badge-pregen">Pregen</span>
        <% end %>
        <% if table.scenario.retired? %>
          <span class="badge badge-retired">Retired</span>
        <% end %>
        <% if table.premium? %>
          <span class="badge badge-premium">Charity</span>
          <span class="badge badge-cost"><%= number_to_currency table.price %></span>
        <% end %>
        <% if table.scenario.evergreen? %>
          <span class="badge badge-evergreen"><%= table.scenario.replayable_display %></span>
        <% end %>
      </td>
      <td class="text-center"><%= table.registration_tables.size %>/<%= table.max_players %></td>
      <td class="text-center"><%= table.game_masters.size %>/<%= table.gms_needed %></td>
      <td>
        <% table.game_masters.each do |gm| %>
          <% if event_host? %>
            <%= button_to "Edit #{gm.user_event.user.long_name}",edit_event_session_table_game_master_path(@event, @session, table, gm), method: :get, :class => "btn btn-primary" %>
          <% else %>
            <div><%= gm.user_event.user.long_name %></div>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to 'Show', [@event, @session, table], :class => 'btn btn-info' %>
        <% if admin? %>
          <%= link_to 'Edit', edit_event_session_table_path(@event, @session, table), :class => 'btn btn-primary' %>
          <%= link_to 'Destroy', [@event, @session, table], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table', new_event_session_table_path(@event, @session), :class => 'btn btn-primary' %>
<%= link_to "Back to #{@session.name}", event_session_path(@event, @session), :class => 'btn btn-success' %>
