<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @session.name %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @table.max_players %>
</p>

<p>
  <strong>Scenario:</strong>
  <% scenario = @table.scenario %>
  <%= scenario.season.to_s + "-" + scenario.scenario_number.to_s + ": " + scenario.name %>
</p>

<p>
  <strong>Description :</strong>
  <%= scenario.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= scenario.author %>
</p>

<p>
  <strong>Paizo URL:</strong>
  <%# Make this a real URL? %>
  <%= scenario.paizo_url %>
</p>

<% if scenario.hard_mode %>
   <p>
     <strong>This scenario has a Hard Mode</strong>
   </p>
<% end %>

<% if scenario.pregen_only? %>
   <p>
     <strong>This is a Pregens Only scenario</strong>
   </p>
<% end %>

<%= link_to 'Edit', edit_event_session_table_path(@event, @session, @table) %> |
<%= link_to 'Back', event_session_tables_path %>
