<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1><%= @event.name %></h1>
  <h2><%= @session.name %>
    <small><%= @session.timeslot %></small>
  </h2>
  <h3><%= @table.long_name %></h3>
  <% unless @table.location.nil? %>
      <h4>Table Location(s): <%= @table.location %></h4>
  <% end %>
</div>

<div class="well">
  <div style="white-space: pre-wrap"><%= @scenario.description %></div>
  <% if @scenario.author.present? %>
      <div>by <%= @scenario.author %></div>
  <% end %>
  <%= render 'table_labels' %>
</div>


<h4>Player Information</h4>
<div class="well">
  <p>This table current has <span class="badge"><%= @table.registration_tables.size %></span> out of
    <span class="badge"><%= @table.max_players %></span> players.
  </p>
  <button data-toggle="collapse" data-target="#players" class="btn btn-info">Current Players</button>
  <% if admin? %>
      <% if @table.game_masters.size < @table.gms_needed %>
          <%= button_to "Add Player", new_event_session_table_registration_table_path(@event, @session, @table), method: :get, :class => "btn btn-warning" %>
      <% end %>
  <% end %>
  <div id="players" class="collapse">
    <%#  header row %>
    <div class="row">
      <div class="col-md-2 label label-default">Name</div>
      <div class="col-md-3 label label-default">Email</div>
      <div class="col-md-2 label label-default">PFS Number</div>
      <% if admin? %>
          <div class="col-md-2 label label-default">Admin</div>
      <% end %>
    </div>
    <% @table.registration_tables.each do |reg_table| %>
        <% player = reg_table.user_event.user %>
        <div class="row">
          <div class="col-md-2"><%= player.name %></div>
          <div class="col-md-3"><%= player.email %></div>
          <div class="col-md-2"><%= player.pfs_number %></div>
          <% if admin? %>
              <div class="col-md-2"><%= button_to 'Remove from Table', [@event, @session, @table, reg_table], method: :delete, data: {confirm: "Are you sure you want to remove #{player.long_name} from #{@scenario.long_name}?"}, :class => "btn btn-danger" %></div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<h4>GM Information</h4>
<div class="well">
  <p>This table current has <span class="badge"><%= @table.game_masters.size %></span> out of
    <span class="badge"><%= @table.gms_needed %></span> game masters.
  </p>
  <div>
    <button data-toggle="collapse" data-target="#gamemasters" class="btn btn-info">Current Game Masters</button>
    <% if admin? %>
        <% if @table.game_masters.size < @table.gms_needed %>
            <%= button_to "Add GM", new_event_session_table_game_master_path(@event, @session, @table), method: :get, :class => "btn btn-warning" %>
        <% end %>
    <% end %>
  </div>
  <div id="gamemasters" class="collapse">
    <%#  header row %>
    <div class="row">
      <div class="col-md-2 label label-default">Name</div>
      <div class="col-md-3 label label-default">Email</div>
      <div class="col-md-2 label label-default">PFS Number</div>
      <% if admin? %>
          <div class="col-md-2 label label-default">Admin</div>
      <% end %>
    </div>
    <% @table.game_masters.each do |game_master| %>
        <% gm = game_master.user_event.user %>
        <div class="row">
          <div class="col-md-2"><%= gm.name %></div>
          <div class="col-md-3"><%= gm.email %></div>
          <div class="col-md-2"><%= gm.pfs_number %></div>
          <% if admin? %>
              <div class="col-md-2"><%= button_to 'Remove from Table', [@event, @session, @table, game_master], method: :delete, data: {confirm: "Are you sure you want to remove #{gm.long_name} as a GM from #{@scenario.long_name}?"}, :class => "btn btn-danger" %></div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

<hr>
<% if admin? %>
    <%= button_to 'Edit this table', edit_event_session_table_path(@event, @session, @table),
                  method: :get, :class => "btn btn-primary" %>
    <%= button_to 'Back', event_session_tables_path, method: :get, :class => "btn btn-success" %>
<% else %>
    <%= button_to 'Back', event_path, method: :get, :class => "btn btn-success" %>
<% end %>
<hr>
