<div>
  <form action="/events/<%= event.id %>/user_events/<%= user_event.id %>/registration_payment" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <!-- this should pull the data-key fromenvironment -->
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['PUBLISHABLE_KEY'] %>"
    data-amount="<%= user_event.registration_cost.to_i * 100 %>"
    data-name="<%= user_event.user.name %>"
    data-description="<%= event.name %> Payment"
    data-zip-code="true"
    data-allow-remember-me="false"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
    </script>
  </form>
</div>
