<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<h2><%= @event.location %></h2>
<h2><%= @event.start.to_formatted_s(:long) %> to <%= @event.end.to_formatted_s(:long) %></h2>

<!-- for now, first pass, list all the GMs -->
<table class="table table-striped">
  <tr>
    <th>GM Name</th>
    <th>GM Email</th>
    <th>GM Forum Name</th>
    <th>Scenario</th>
    <th>Session/Time Slot</th>
    <th>Table Type</th>
    <th>Table Assignment</th>
  </tr>
  <% @game_masters.each do |gm| %>
    <tr>
      <td><%= gm.user_event.user.name %></td>
      <td><%= gm.user_event.user.email %></td>
      <td><%= gm.user_event.user.forum_username %></td>
      <td><%= gm.table.scenario.long_name %></td>
      <td><%= gm.table.session.name %></td>
      <td><%= gm.table.online? ? 'Online' : 'In Person' %></td>
      <td><%= gm.table_number %></td>
    </tr>
  <% end %>
</table>
