<%= form_for([@event, @user_event]) do |f| %>
  <% if @user_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_event.errors.count, "error") %> prohibited this user_event from being saved:</h2>

      <ul>
        <% @user_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if admin? %>
    <%# admin section %>
    <div>
      <%= f.label :user_id %>:
      <% if @user_event.persisted? %>
        <%= f.hidden_field :user_id, :value => @user_event.user_id %>
        <%= "#{@user_event.user.name} (#{@user_event.user.email})" %>
      <% else %>
        <%= f.select :user_id, options_for_select(@users.map { |user| ["#{user.name} (#{user.email})", user.id] }.to_h, @user_event.user_id), include_blank: 'Select User...' %>
      <% end %>
    </div>

    <div>
      <%= f.label :event_id %>:
      <% unless @user_event.persisted? %>
        <%= f.select :event_id, options_for_select(@events.map { |event| [event.name, event.id] }.to_h, @event.id) %>
      <% else %>
        <%= @event.name %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :vip, "GM/HQ Only" %>
      <%= f.check_box :vip %>
      <div class="text-info">This would be a person who is not be playing in any sessions, so suppress any emails for
        reminders to RSVP for table sessions.
      </div>
    </div>

    <div id="admindiv">
      <% if @user_event.persisted?
           username = @user_event.user.name
         else
           username = 'the player'
         end %>
      <div>
        <%= f.label :paid, "Check when #{username} has paid: " %>
        <%= f.check_box :paid %>
      </div>
      <div>
        <%= f.label :payment_amount, 'Amount paid. Note: this needs to be in cents (or dollars * 100)' %>
        <%= f.number_field :payment_amount %>
      </div>
      <div>
        <%= f.label :payment_id, "Payment ID, Manual, or Cash?" %>
        <%= f.text_field :payment_id %>
      </div>
      <div>
        <%= f.label :payment_date %>
        <%= f.datetime_select :payment_date %>
      </div>
    </div>
    <%# end admin section %>
  <% else %>
    <%# Normal user block %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :event_id, :value => @event.id %>
    <%= f.hidden_field :paid, :value => false %>
  <% end %>
  <% player = @user_event.user %>
  <div class="well">
    <div class="row">
      <div class="col-md-2 col-sm-3"><strong>Name:</strong></div>
      <div class="col-md-6 col-sm-5"><%= player&.name %></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3"><strong>PFS Number:</strong></div>
      <div class="col-md-6 col-sm-5"><%= player&.pfs_number %></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3"><strong>Email:</strong></div>
      <div class="col-md-6 col-sm-5"><%= player&.email %></div>
    </div>

  </div>

  <div class="well">
    <h4>I would like to attend (select all that apply):</h4>
    <% if @event.in_person? %>
      <div>
        <%= f.check_box :in_person %>
        <%= f.label :in_person, 'In Person' %>
      </div>
    <% end %>
    <% if @event.online? %>
      <div>
        <%= f.check_box :online %>
        <%= f.label :online %>
      </div>
    <% end %>

    <% if @event.attendance_policy.present? %>
      <div id='attendance_policy_div'>
        <div id="attendence_policy">
          <h4>Attendence Policy for the In Person Event</h4>
          <div class="well">
            <div class="bg-warning text-policy" style="margin-top: 0;"><%= @event.attendance_policy&.html_safe %></div>
          </div>
        </div>
        <div>
          <%= f.check_box :accepted_attendance_policy %>
          <%= f.label :accepted_attendance_policy,
                      'I have read and understand the attendance policy. By checking this box I am agreeing to this policy.' %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="well">
    <% if @event.tee_shirt_price&.nonzero? %>
      <%# TODO: make this a method @event %>
      <%# TODO: add link to tee shirt picture? %>
      <% if Date.today - 1 < @event.tee_shirt_end %>
        <p class="text-info"><%= @event.name %> is offering T-shirts for a pre-order price
          of <%= number_to_currency(@event.tee_shirt_price) %>. T-shirt pre-orders
          end <%= @event.tee_shirt_end.to_formatted_s(:long) %>.
        <div class='text-danger' id='tee_shirt_online'>If you not attending in person, you will need to arrange for
          shipping or pickup of your shirt. See <a href="https://www.usps.com/ship/priority-mail.htm">USPS.gov</a> for
          prices on flat-rate boxes.
        </div>
        </p>

        <p>
          <%= f.label :tee_shirt_size, 'I would like to pre-order a T-shirt in size' %>
          <%= f.select :tee_shirt_size, %w(Small Medium Large XL XXL 3X 4X 5X), :include_blank => true %>
        </p>
        <div class="text-warning"><i>Ordering a shirt will increase your registration price.</i></div>
      <% else %>
        <div class="text-info"><%= @event.name %> will have some T-shirts available for sale at the event.</div>
      <% end %>
    <% end %>

    <% if @event.price&.nonzero? %>
      <% if @user_event.donation %>
        <div class="row">
          <% if @user_event.paid? %>
            <% donation_label = 'My Donation' %>
          <% else %>
            <% donation_label = 'My Pledged Donation' %>
          <% end %>
          <div class="col-md-2 col-sm-3"><%= f.label :donation, donation_label %>:</div>
          <div class="col-md-6 col-sm-5">
            <% if @user_event.paid? %>
              <%= number_to_currency @user_event.donation %>
            <% else %>
              <%= f.select :donation, options_for_select(donations_options, @event.price) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# TODO: Add amount due here... which will be the event price || donation + shirt (if selected)" %>

  <div class="actions">
    <% if @user_event.persisted? %>
      <%= f.submit "Update", :class => 'btn btn-primary', :id => 'submit_button' %>
    <% else %>
      <%= f.submit "Register", :class => 'btn btn-primary', :id => 'submit_button' %>
    <% end %>
  </div>
<% end %>

<script type="application/javascript">
    $(document).ready(function () {
        let inPersonField = $("#user_event_in_person")
        let attendancePolicyDiv = $("#attendance_policy_div");
        let policyAcceptedField = $("#user_event_accepted_attendance_policy");

        if (inPersonField.is(":checked")) {
            attendancePolicyDiv.show();
            $("#tee_shirt_online").hide();
            <% if @event.attendance_policy.present? %>
            $("#submit_button").prop("disabled", true);
            <% end %>
        } else {
            attendancePolicyDiv.hide();
            $("#tee_shirt_online").show();
            <% if @event.attendance_policy.present? %>
            $("#submit_button").prop("disabled", false);
            <% end %>
        }

        inPersonField.change(function () {
            if ($(this).is(":checked")) {
                attendancePolicyDiv.show();
                $("#tee_shirt_online").hide();
                <% if @event.attendance_policy.present? %>
                $("#submit_button").prop("disabled", true);
                <% end %>
            } else {
                attendancePolicyDiv.hide();
                $("#event_attendance_policy").val("")
                $("#tee_shirt_online").show();
                <% if @event.attendance_policy.present? %>
                $("#submit_button").prop("disabled", false);
                policyAcceptedField.prop('checked', false);
                <% end %>
            }
        });

        <% if @event.attendance_policy.present? %>
        if (inPersonField.is(":checked") && !policyAcceptedField.is(":checked")) {
            $("#submit_button").prop("disabled", true);
        }

        policyAcceptedField.change(function () {
            if ($(this).is(":checked")) {
                $("#submit_button").prop("disabled", false);
            } else {
                $("#submit_button").prop("disabled", true);
            }
        });
        <% end %>

    }); // document ready
</script>
