<%= form_for([@event, @user_event]) do |f| %>
    <% if @user_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user_event.errors.count, "error") %> prohibited this user_event from being saved:</h2>

          <ul>
            <% @user_event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if current_user.admin? %>
        <div class="row">
          <div class="col-md-1 field">
            <%= f.label :user_id %>:
            <%= f.hidden_field :user_id %>
            <%= @user_event.user.name %>
          </div>
          <div class="field col-md-1">
            <%= f.label :event_id %>:
            <%= f.hidden_field :event_id %><%= @event.name %>
          </div>
          <div class="field col-md-1">
            <%= f.label :paid %>
            <%= f.check_box :paid %>
          </div>
        </div>
    <% else %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :event_id, :value => @event.id %>
        <%= f.hidden_field :paid, :value => false %>
    <% end %>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
