<%= form_for([@event, @user_event]) do |f| %>
    <% if @user_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user_event.errors.count, "error") %> prohibited this user_event from being saved:</h2>

          <ul>
            <% @user_event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if current_user.admin? %>
        <div class="row">
          <div class="field col-md-4">
            <%= f.label :user_id %>:
            <%= f.select :user_id, options_for_select(@users.map{|user| ["#{user.name} (#{user.email})", user.id]}.to_h), include_blank: 'Select User...' %>
          </div>
          <div class="field col-md-2">
            <%= f.label :event_id %>:
            <%= f.select :event_id, options_for_select(@events.map{ |event| [event.name, event.id]}.to_h, @event.id)  %>
          </div>
          <div class="field col-md-4">
            <!--- TODO - maybe add some JavaScript to change user to the selected user name? -->
            <%= f.label :paid, 'Has the user paid for the event?' %>
            <%= f.check_box :paid %>
          </div>
        </div>
    <% else %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :event_id, :value => @event.id %>
        <%= f.hidden_field :paid, :value => false %>
    <% end %>


    <%# we need styling on the buttons. %>
    <div class="actions">
      <%= f.submit "Register" %>
    </div>
<% end %>
