<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<h2>Registrations/Sign Ups</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>PFS#</th>
    <th>Paid</th>
  </tr>
  </thead>

  <tbody>
  <% @user_events.each do |user_event| %>
    <tr>
      <td><%= user_event.user.name %></td>
      <td><%= user_event.user.email %></td>
      <td><%= user_event.user.pfs_number %></td>
      <td>
        <% if user_event.paid? %>
          <span class="glyphicon glyphicon-ok-circle"></span>
          <% if admin? %>
          <%= number_to_currency(user_event.payment_amount.to_i / 100) %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Show', event_user_event_path(@event, user_event), :class => 'btn btn-info' %>
        <%= link_to 'Edit', edit_event_user_event_path(@event, user_event), :class => 'btn btn-primary' %>
        <%= link_to 'Print Receipt', event_user_event_path(@event, user_event), :class => 'btn btn-success' %>
        <% if admin? %>
          <%= link_to 'Add Additional Payment', new_event_user_event_additional_payment_path(@event, user_event), :class => 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Unregister', [@event, user_event], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div>Total Registrations: <%= @user_events.size %></div>
<div>Total Paid: <%= @paid %></div>
<div>Total Registration Paid: <%= number_to_currency(@user_events.sum { |reg| reg.payment_amount.to_i / 100 } ) %></div>
<div>Total Amount Paid: <%= number_to_currency(@user_events.sum { |reg| reg.total_paid.to_i } ) %></div>
<div>Charity Tables Amount Paid: <%= number_to_currency(@event.registration_tables.sum { |ticket| ticket.payment_amount.to_i } )  %></div>
<br>
<%= link_to "Back to #{@event.name}", event_path(@event), :class => 'btn btn-success' %>
