<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li><%= link_to "#{@event.name}", event_path(@event) %></li>
  <li>My Registration Details</li>
</ol>

<h1><%= @event.name %></h1>
<h2>Player Information</h2>

<% player = @user_event.user %>
<div class="panel panel-padded" style="border: solid thin black;">

  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd><%= player.name %></dd>
    <dt>Organized Play ID</dt>
    <dd><%= player.pfs_number %></dd>
    <dt>Email</dt>
    <dd><%= player.email %></dd>
    <dt>GM/HQ Only</dt>
    <dd><%= yes_no @user_event.vip? %></dd>
    <% if @event.price&.nonzero? %>
      <% if @user_event.donation %>
        <dt>
          <% unless @user_event.paid? %>Pledged
          <% end %>Donation:
        </dt>
        <dd><%= number_to_currency @user_event.donation %>
          <% unless @user_event.paid? %>
            <div><%= link_to 'Edit Pledged Donation', edit_event_user_event_path(@event, @user_event) %></div>
          <% end %>
        </dd>
      <% end %>
      <dt>Paid:</dt>
      <dd><%= yes_no @user_event.payment_ok? %>
        <% unless @user_event.payment_ok? %>
          <div><%= render partial: "registration_payment/registration_payment", locals: { event: @event, user_event: @user_event } %></div>
        <% end %>
      </dd>
    <% end %>
  </dl>
</div>

<hr>


<%= render partial: 'events/my_schedule', locals: { event: @event, user_event: @user_event } %>

<hr>
<h3>Additional Payments</h3>
<div class="well">
  <% if @user_event.unpaid_additional_payments? %>
    <h4>Unpaid Additional Payments:</h4>
    <div class="row striped-outer">
      <div class="col-md-2 col-sm-2"><b>Category</b></div>
      <div class="col-md-4 col-sm-3"><b>Description</b></div>
      <div class="col-md-1 col-sm-1"><b>Donation?</b></div>
      <div class="col-md-2 col-sm-2"><b>Price</b></div>
    </div>
    <% @user_event.additional_payments.each do |payment| %>
      <%# display the additional payment, with a button to pay %>
      <div class="row striped-outer">
        <div class="col-md-2 col-sm-2"><%= payment.category %></div>
        <div class="col-md-4 col-sm-3"><%= payment.description %></div>
        <div class="col-md-1 col-sm-1">
          <%= yes_no payment.charitable_donation? %>
        </div>
        <div class="col-md-2 col-sm-2"><%= number_to_currency(payment.price.to_f / 100) %></div>
        <div class="col-md-2 col-sm-2">
          <%= render partial: 'additional_payments/additional_payment', locals: { payment: payment, button_label: "Pay for #{payment.category}" } %>
        </div>
        <% if admin? %>
          <div class="col-md-1 col-sm-1"><%= link_to 'View Payment', [@event, @user_event, payment], :class => 'btn btn-info' %></div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <div class="text-info">You have no pending additional payments</div>
  <% end %>
  <br>
  <div>
    <%= link_to 'View Additional Payments', event_user_event_additional_payments_path(@event, @user_event), :class => 'btn btn-sm btn-success' %>
  </div>
</div>

<% if @user_event.total_paid > 0 %>
  <hr>
  <%= render 'all_payments_table' %>
<% end %>

<hr>


<% if admin? %>
  <%= link_to 'Back to Registrations', event_user_events_path(@event), :class => 'btn btn-success' %>
  <%= link_to 'Edit', edit_event_user_event_path(@event, @user_event), :class => 'btn btn-primary' %>
<% end %>
<%= link_to "Back to #{@event.name}", event_path(@event), :class => 'btn btn-success' %>
