<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_event.user.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @user_event.event.name %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @user_event.paid %>
</p>

<%= link_to 'Edit', edit_event_user_event_path(@event,@user_event) %> |
<%= link_to 'Back', event_user_events_path %>
