<p id="notice"><%= notice %></p>

<h1>Listing Scenarios</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Author</th>
    <th>Pregens Only</th>
    <th>Hard Mode</th>
    <th>Tier</th>
    <th>Retired</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= scenario.type %></td>
        <td><%= scenario.long_name %></td>
        <td><%= scenario.author %></td>
        <td><%= scenario.pregen_only %></td>
        <td><%= scenario.hard_mode %></td>
        <td><%= scenario.tier %></td>
        <td><%= scenario.retired %></td>
        <td><%= link_to 'Show', scenario %></td>
        <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_scenario_path(scenario) %></td>
            <td><%= link_to 'Destroy', scenario, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if admin? %>
    <%= link_to 'New Scenario', new_scenario_path %>
<% end %>
<br>
<%= link_to 'Events', events_path %>
<br>
<%= link_to 'Home', welcome_index_path %>
