<p id="notice"><%= notice %></p>

<h1>Listing Scenarios</h1>


<% if admin? %>
    <div class="well">
      <div class="bg-success">Jolene's fancy new button!
        <div>Use this <%= link_to 'New Scenario Button', new_scenario_path, :class => 'btn btn-warning' %> to add new scenarios to the list.
        </div>
      </div>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>PZO#</th>
    <th>Author</th>
    <th>Evergreen</th>
    <th>Pregens Only</th>
    <th>Hard Mode</th>
    <th>Tier</th>
    <th>Retired</th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <% @scenarios.sort.each do |scenario| %>
      <tr>
        <td><%= scenario.type_of %></td>
        <td><%= scenario.long_name %></td>
        <td><%= scenario.catalog_number %></td>
        <td><%= scenario.author %></td>
        <td>
          <% if scenario.evergreen? %>
              <span class="badge badge-evergreen"><%= scenario.replayable_display %></span>
          <% end %>
        </td>
        <td>
          <% if scenario.pregen_only? %>
              <span class="badge badge-pregen">Pregen</span>
          <% end %>
        </td>
        <td>
          <% if scenario.hard_mode? %>
              <span class="badge badge-hardmode"><small>Hard Mode</small></span>
          <% end %>
        </td>
        <td><span class="badge"><%= scenario.tier %></span></td>
        <td>
          <% if scenario.retired? %>
              <span class="badge badge-retired">Retired</span>
          <% end %>
        </td>
        <td nowrap="nowrap">
          <%= link_to 'Show', scenario, :class => 'btn btn-info' %>
          <% if admin? %>
              <%= link_to 'Edit', edit_scenario_path(scenario), :class => 'btn btn-primary' %>
              <%= link_to 'Clone', scenario_clone_path(scenario), :class => 'btn btn-warning' %>
              <%= link_to 'Destroy', scenario, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if admin? %>
    <%= link_to 'New Scenario', new_scenario_path, :class => 'btn btn-warning' %>
<% end %>
<%= link_to 'Events', events_path, :class => 'btn btn-info' %>
<%= link_to 'Home', welcome_index_path, :class => 'btn btn-success' %>
