<p id="notice"><%= notice %></p>

<h1><strong><%= @event.name %></strong></h1>
<div>
  <h2>Event Details</h2>
  <dl class="dl-horizontal">
    <dt class="head">Location:</dt>
    <dd class="head text-info"><%= @event.location %></dd>
    <dt class="head">Dates:</dt>
    <dd class="head text-info"><%= @event.timeslot %></dd>
    <dt class="head">Time Zone:</dt>
    <dd class="head text-info"><%= Time.zone.name %> (UTC<%= Time.zone.utc_offset / 60 / 60 %>)</dd>
    <% if @event.event_number? %>
      <dt class="head">Event Number:</dt>
      <dd class="head text-info"><%= @event.event_number %></dd>
    <% end %>
    <dt class="head">Event Type:</dt>
    <dd class="head text-info">
      <% if @event.in_person? %>In person
      <% end %>
      <% if @event.in_person? && @event.online? %>and online
      <% elsif @event.online? %>Online
      <% end %>
    </dd>
    <% if @event.chat_server? %>
      <dt class="head">Chat Server:</dt>
      <dd class="head text-info">
        <a class="ul" target="_blank" href="<%= @event.chat_server_url %>"><%= @event.chat_server %></a></dd>

    <% end %>
    <% if @registration&.gamemaster? && @event.reporting_url.present? %>
      <dt class="head">Reporting Form:</dt>
      <dd class="head text-info">
        <a class="ul" target="_blank" href="<%= @event.reporting_url %>"><%= @event.name %> Reporting Form</a></dd>
    <% end  %>
  </dl>
</div>

<!-- for now, first pass, list all the GMs -->
<table class="table table-striped">
  <thead>
  <tr>
    <th>Scenario</th>
    <th>Number of tables</th>
    <th>GMs Needed</th>
    <th>Player Seats available</th>
  </tr>
  </thead>

  <tbody>
  <% total_number_tables = 0 %>
  <% total_gms_needed = 0 %>
  <% total_gms_assigned = 0 %>
  <% total_players_needed = 0 %>
  <% total_players_signed_up = 0 %>
  <% @tables_by_scenario.sort.each do |scenario, tables| %>
    <tr>
      <td><%= scenario.long_name %> (<%= scenario.tier %>)</td>
      <% table_count = 0; %>
      <% gm_needed_count = 0; %>
      <% gm_assigned_count = 0; %>
      <% gm_remaining_count = 0; %>
      <% player_needed_count = 0; %>
      <% player_assigned_count = 0; %>
      <% player_remaining_count = 0; %>
      <% tables.each do |table| %>
        <% table_count += table.gms_needed %>
        <% gm_needed_count += table.gms_needed %>
        <% gm_assigned_count += table.current_gms %>
        <% gm_remaining_count += table.gms_short %>
        <% player_needed_count += table.max_players %>
        <% player_assigned_count += table.current_registrations %>
        <% player_remaining_count += table.remaining_seats %>
      <% end %>
      <% total_number_tables += table_count %>
      <% total_gms_needed += gm_needed_count %>
      <% total_gms_assigned += gm_assigned_count %>
      <% total_players_needed += player_needed_count %>
      <% total_players_signed_up += player_assigned_count %>
      <td><%= table_count %></td>
      <td><%= gm_remaining_count %> / <%= gm_needed_count %></td>
      <td><%= player_remaining_count %> / <%= player_needed_count %></td>
      <td></td>
    </tr>
  <% end %>
  <tr>
    <td>Totals</td>
    <td><%= total_number_tables %></td>
    <td><%= total_gms_needed - total_gms_assigned %> / <%= total_gms_needed %></td>
    <td><%= total_players_needed - total_players_signed_up %> / <%= total_players_needed %></td>
    <td></td>
  </tr>
  </tbody>
</table>

<div>
  Total scenarios: <%= @event.scenarios.length %>
  Total unique scenarios: <%= @event.unique_scenarios.length %>
</div>

<hr>
<%
    breakdown = {}
    @event.game_masters.each do |gm|
      %>
  <%
      game_system = gm.scenario.game_system
      campaign = breakdown[game_system]
      if campaign.nil?
        campaign = {}
        breakdown[game_system] = campaign
      end

      type_of = gm.scenario.type_of
      count = campaign[type_of]
      count = count.to_i + 1
      campaign[type_of] = count
    end
%>

<% breakdown.each_key do |system|
  breakdown[system].each_key do |key|
%>
    <div><%= system %>  (<%= key %>) had <%= breakdown[system][key] %> table(s)</div>
  <% end
     end %>

<hr>
