<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @event_host.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event_host.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_host.user.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_host.event.name %>
</p>

<% if admin? %>
  <%= link_to 'Edit', edit_event_event_host_path([@event, @event_host]), :class => 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', event_event_hosts_path, :class => 'btn btn-success' %>
