<div>
  <!-- /additional_payments/:additional_payment_id/additional_payment_payment -->
  <!-- /events/:event_id/user_events/:user_event_id/additional_payments/:additional_payment_id/additional_payment_payment -->
  <form action="/events/<%= @event.id %>/user_events/<%= @user_event.id %>/additional_payments/<%= payment.id %>/additional_payment_payment" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <!-- this should pull the data-key from environment -->
    <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="<%= ENV['PUBLISHABLE_KEY'] %>"
    data-amount="<%= payment.price %>"
    data-name="<%= payment.user_event.user.name %>"
    data-description="<%= payment.long_description %>"
    data-zip-code="true"
    data-allow-remember-me="false"
    <% unless button_label.blank? %>
    data-label="<%= button_label %>"
    <% end %>
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
    </script>
  </form>
</div>