<%= form_for([@event, @user_event, @additional_payment]) do |f| %>
    <% if @additional_payment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@additional_payment.errors.count, "error") %> prohibited this additional payment from being
            saved:</h2>

          <ul>
            <% @additional_payment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :category %>

      <%= f.select :category, ['Auction', 'Raffle', 'Donation', 'Dice', 'Other'] %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description, size: 100 %>
    </div>
    <br>

    <% if admin? %>
        <div class="bg-warning text-danger">
          <bigger>
            <strong>
              Admins! Price below is in cents, not dollars (multiply dollars by 100)!!!
            </strong>
          </bigger>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :market_price, "Market Price" %>
      <% if admin? %>
          <%= f.text_field :market_price %> cents
      <% else %>
          <%= number_to_currency(@additional_payment.market_price.to_f / 100) %>
      <% end %>
    </div>

    <% if admin? %>
        <div class="bg-warning text-danger">
          <bigger>
            <strong>
              Admins! Price below is in cents, not dollars (multiply dollars by 100)!!!
            </strong>
          </bigger>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :payment_price, "Payment Price" %>
      <% if admin? %>
          <%= f.text_field :payment_price %> cents
      <% else %>
          <%= number_to_currency(@additional_payment.payment_price.to_f / 100) %>
      <% end %>
    </div>

    <br>


    <div class="bg-info text-info">Payment ID is the value set by the payment service as the transaction identifier.
      Do not set unless you are doing a cash/manual payment.
    </div>
    <div class="field">
      <%= f.label :payment_id, "Payment ID" %>
      <% if admin? %>
          <%= f.text_field :payment_id %>
      <% else %>
          <%= number_to_currency(@additional_payment.payment_price.to_f / 100) %>
      <% end %>
    </div>

    <div class="bg-info text-info">Paid Amount is the value that was actually paid.
      This is set by the payment service, so unless processing a manual payment (see above)
      do not set!
    </div>

    <div class="field">
      <%= f.label :payment_amount, "Paid Amount" %>
      <% if admin? %>
          <%= f.text_field :payment_amount %>
      <% else %>
          <%= number_to_currency(@additional_payment.payment_amount.to_f / 100) %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :payment_date %>
      <% if admin? %>
          <%= f.datetime_select :payment_date %>
      <% elsif @additional_payment.payment_date.nil? %>
          (unpaid)
      <% else %>
          <%= @additional_payment.payment_date.localtime.to_formatted_s(:long) %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Save Additional Payment", :class => 'btn btn-success' %>
    </div>
<% end %>
