<!-- TODO - add active class! -->
<ul class="sidebar">
  <% if user_signed_in? %>
      <li><%= link_to 'My Profile', edit_user_path(current_user) %></li>
  <% end %>
  <li><%= link_to 'Home', welcome_index_path %></li>

  <% if !current_user&.user_events&.empty? %>
    <li><u>Registered Events</u></li>
    <% current_user&.user_events&.each do |registration| %>
      <% unless registration.past %>
          <li class="col-xs-offset-1"><%= link_to "#{registration.event.name}", event_user_event_path(registration.event, registration) %></li>
      <% end %>
    <% end %>
    <hr/>
  <% end %>

  <% if user_signed_in? && current_user.admin? %>
      <li><u>Event Admin</u></li>
      <li><%= link_to 'Events', events_path %></li>
      <%# TODO - this would be better, I think, if it indented inside of the event? --%>
      <% if @event and @event.persisted? %>
          <li class="col-xs-offset-1"><%= link_to "#{@event.name}", @event %></li>
          <li class="col-xs-offset-1"><%= link_to 'Registrations', event_user_events_path(@event) %></li>
          <li class="col-xs-offset-1"><%= link_to 'Sessions', event_sessions_path(@event) %></li>
          <% if @session && @session.persisted? %>
              <li class="col-xs-offset-2"><%= link_to 'Session', event_session_path(@event, @session) %></li>
              <li class="col-xs-offset-2"><%= link_to 'Tables', event_session_tables_path(@event, @session) %></li>
          <% end %>
          <% if @table && @table.persisted? %>
              <li class="col-xs-offset-3"><%= link_to 'Players', event_session_table_registration_tables_path(@event, @session, @table) %></li>
              <li class="col-xs-offset-3"><%= link_to 'GMs', event_session_table_game_masters_path(@event, @session, @table) %></li>
          <% end %>

          <li class="col-xs-offset-1"><%= link_to "Table Assignments", event_table_assignment_index_path(@event) %></li>
          <li class="col-xs-offset-1"><%= link_to "GM List", event_gm_list_index_path(@event) %></li>
          <li style="padding-top: 1em;"><u>Event APIs</u></li>
          <li class="col-xs-offset-1"><%= link_to "Registrations (JSON)", event_user_events_path(@event, :format => :json) %></li>
          <li class="col-xs-offset-1"><%= link_to "GM List (JSON)", event_gm_list_index_path(@event, :format => :json) %></li>
          <li class="col-xs-offset-1"><%= link_to 'Event Tables (JSON)', event_path(@event, :format => :json) %></li>
      <% end %>
      <li style="padding-top: 1em;"><u>Other</u></li>
      <li class="col-xs-offset-1"><%= link_to 'Scenarios', scenarios_path %></li>
      <li class="col-xs-offset-1"><%= link_to 'Users', users_path %></li>

  <% end %>
  <li>
    <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </li>
  <li>
    <% if current_user.nil? %>
        <a href="mailto:<%= ENV['GMAIL_SMTP_USERNAME'] %>">Contact Us!</a>
    <% else %>
        <%= link_to('Contact Us!', contact_path) %>

    <% end %>
  </li>
  <% if admin? %>
      <li>
        <%= link_to('Admin Send Email', admin_email_path) %>
      </li>
  <% end %>
</ul>
