<html>
<head>
  <title>PFS Registration</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'screen, projection', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'print-application', media: 'print' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<!--- Header info --->
<div class="header-main no-print">
  <div class="social-media">
    <a style="padding: 5px;" href="https://www.facebook.com/pfsskalcon/">
      <%= image_tag("FB-f-Logo__blue_58.png", alt: "SkalCon Facebook", height: "40") %>
    </a>
    <a style="padding: 5px; flex-grow: 1;" href="https://twitter.com/SkalConMN">
      <%= image_tag("TwitterLogo_55acee.png", alt: "SkalCon Twitter", height: "40") %>
    </a>
    <div style="padding: 5px; flex-grow: 2"></div>
  </div>
  <div class="banner">
    <div class="bannerimg">
      <%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
    </div>
  </div>
  <div class="divider">
    <% if user_signed_in? %>
        <div>
          Logged in as: <%= current_user.name %> (<%= current_user.email %>)
          <% if current_user.admin? %>[ADMIN]
          <% end %>
          <% unless current_user.forum_username.nil? %>{<%= current_user.forum_username %>}
          <% end %>
        </div>
    <% else %>
        <div>
          <%= link_to('Login', new_user_session_path) %>
        </div>
    <% end %>
  </div>
  <div class="divider"></div>
</div>

<div class="no-print">
  <% if user_signed_in? %>
      <% if current_user.forum_username.nil? or current_user.forum_username.empty? %>
          <div class="well">
            <div class="text-warning bg-warning">You have not entered your paizo.com forum username into your profile.
              Please add yours by going to <%= link_to 'My Profile', edit_user_path(current_user) %> and adding your
              primary forum username. This can be helpful when trying to get scenarios to GMs, or when troubleshooting
              reporting.<br/>
              Thank you.
            </div>
          </div>
      <% end %>
  <% end %>
</div>
<!--- Main Content --->
<div id="main-content" class="container-fluid">
  <div class="no-print">
    <div class="col-sm-2 col-xs-12 col-md-2 sidebar">
      <%= render partial: "layouts/sidebar" %>
    </div>
  </div>

  <div class="col-sm-10 col-md-10 col-xs-12">
    <%= yield %>
  </div>
</div>

<div class="footer-main">
  &copy; 2016-2017 10,000 Lakes Gaming
</div>

</body>
</html>
