<html>
<head>
  <title>PFS Registration</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--- Header info --->
<div class="header-main">
  <div class="social-media">
    <div>Social Media and External Link Area</div>
    <% if user_signed_in? %>
        <div>Logged in as: <%= current_user.name %> (<%= current_user.email %>)
          <% if current_user.admin? %>[ADMIN]
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="banner">
    <%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
  </div>
  <div class="menu">
    <div class="container-fluid">
      <div class="col-md-3">Menu w/login after</div>
      <div class="col-md-1 col-sm-2">
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
            <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </div>
      <div class="col-md-2">
        <% if user_signed_in? %>
            <%= link_to 'Edit My Profile', edit_user_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--- Main Content --->
<div id="main-content" class="container-fluid">
  <div class="col-sm-3 col-md-2 sidebar">
    <%= render partial: "layouts/sidebar" %>
  </div>
  <div class="col-md-10">
    <%= yield %>
  </div>
</div>


<div class="footer-main">
  © 2016 SkalCon
</div>

</body>
</html>
